{% extends "website/dashboard_template.html" %}
{% load static %}

{% block dashboard_content_body %}

{% if form %}
    <h1 class="text-center">{{title}} Sponsor Image</h1>
<hr>
<form action="." method="post">
    {% csrf_token %}
        {% for field in form %}
                <div class="col-lg-offset-2 col-lg-8 form-group">
                    <label class="col-lg-2"><strong>{{ field.label }} :</strong></label>
                    {{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
        {% endfor %}
    <br />
    <div class="col-lg-offset-4 col-lg-4 form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
        <a href="{% url 'website:dashboard_sponsor' %}"> Cancel </a>
    </div>
</form>
{% endif %}


{% endblock %}