
{% extends "website/dashboard_template.html" %}
{% load static %}

{% block dashboard_content_body %}
    <h1 class="text-center">{{title}} Publication from bibtex</h1>
<hr>
<form action="." method="post">
{% csrf_token %}
    <label class="col-lg-offset-2 col-lg-8">Bibtex:</label>
    <div class="col-lg-offset-2 col-lg-8 form-group has-error">

        <textarea id="bibtex_area" rows="10" name="bibtex" cols="40" style="width:100%"></textarea>
    </div>
    <br/>
    <div class="col-lg-offset-4 col-lg-4 form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
        <a href="{% url 'website:dashboard_publications' %}"> Cancel </a>
    </div>
</form>

{% endblock %}
