{% extends "website/base_template.html" %}

{% block content_body %}

<!-- Content -->
<h2>Publications</h2>
{% for publication in all_publications %}
  <div class="publicationInfo">
    <p><a href="{{ publication.url }}">{{publication.title}}</a></p>
    <p>{{publication.author}}</p>
    {% if publication.bibtex %}
    <a href="#" class="bibtexShowButton">Bibtex</a>
    <p class="publicationBibtex">{{publication.bibtex}}</p>
    {% endif %}
  </div>
  <hr>
{% endfor %}

{% endblock %}


{% block extra_js_bottom %}
<!-- Script to show bibtex on link click -->
<script>
$( ".bibtexShowButton" ).click(function( event ) {
  event.preventDefault();
  $( this ).next().slideToggle();
});
</script>
{% endblock %}