{% extends "website/dashboard_template.html" %}




{% block dashboard_content_body %}

<h3 class="text-center">Add / Edit Publications</h3>

<div class="text-center">
	<a href="{% url 'website:add_publication' method='bibtex' %}"><div class="btn btn-success">Add Publication from bibtex</div></a>
	<a href="{% url 'website:add_publication' method='manual' %}"><div class="btn btn-success">Add Publication manually</div></a>
	<a href="{% url 'website:highlight_publications' %}"><div class="btn btn-success">Highlight Publications</div></a>
</div>

<hr>

{% if all_publications %}
{% for publication in all_publications %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <hr>
	{% if publication.is_highlighted %}<b>{% endif %}
	<a href="{{ publication.url }}">{{publication.title}}</a>
	{% if publication.is_highlighted %}</b>{% endif %}
	<br>
	{{publication.author}}<br>
	<a href="{% url 'website:edit_publication' publication_id='publication.id' %}"><div class="btn btn-primary">Edit</div></a> |
	<a class="publicationDeleteLink" href="{% url 'website:delete_publication' publication_id='publication.id' %}"><div class="btn btn-primary">Delete</div></a>
	<hr>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
	$( ".publicationDeleteLink" ).click(function( event ) {
		event.preventDefault();
		var r = confirm("Are you sure you want to delete the publication?");
		if (r == true) {
			window.location.href = $(this).attr('href');
		}
	});
</script>
{% endblock %}