{% extends "website/base_template.html" %}
{% load customfilters %}
{% block content_body %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="content-card">
			<div class="page-heading"><h1>Admin Panel</h1></div>

			<h3>Edit Website Sections</h3>

			<a href="/dashboard/sections/add/"><div class="btn btn-success">Add Section</div></a>
			<hr>

			{% for section in all_sections %}
			<h3>{{section}}</h3>
			{{section.body_html|youtube_embed_url|safe}}
			<hr>
			<a href="/dashboard/sections/edit/{{section.website_position_id}}/"><div class="btn btn-primary">Edit</div></a>
			<hr class="post-separator"></hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
