{% extends "website/base_template.html" %}
{% block content_body %}

<h1>Admin Panel</h1>

<h3>Add / Edit Publications</h3>

<div><a href="/dashboard/publications/add/bibtex/">Add Publication from bibtex</a></div>
<div><a href="/dashboard/publications/add/manual/">Add Publication manually</a></div>
<div><a href="/dashboard/publications/highlight/">Highlight Publications</a></div>

<hr>

{% if all_publications %}
	{% for publication in all_publications %}
		{% if publication.is_highlighted %}<b>{% endif %}
		<a href="{{ publication.url }}">{{publication.title}}</a>
		{% if publication.is_highlighted %}</b>{% endif %}
		<br>
		{{publication.author}}<br>
		<a href="/dashboard/publications/edit/{{publication.id}}/">Edit</a> | 
		<a class="publicationDeleteLink" href="/dashboard/publications/delete/{{publication.id}}/">Delete</a>
		<hr>
	{% endfor %}
{% endif %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show bibtex on link click -->
<script>
$( ".publicationDeleteLink" ).click(function( event ) {
  	event.preventDefault();
	var r = confirm("Are you sure you want to delete the publication?");
	if (r == true) {
	    window.location.href = $(this).attr('href');
	}
});
</script>
{% endblock %}