{% extends "website/base_template.html" %}
{% block content_body %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="content-card">
			<div class="page-heading"><h1>Admin Panel</h1></div>
			<a href="/dashboard/sections/fixed/"><div class="dashboard-button btn btn-default">Edit Fixed Sections</div></a>
			<a href="/dashboard/sections/page/"><div class="dashboard-button btn btn-default">Add / Edit Pages</div></a>
			<a href="/dashboard/news/"><div class="dashboard-button btn btn-default">Add / Edit News</div></a>
			<a href="/dashboard/publications/"><div class="dashboard-button btn btn-default">Add / Edit Publications</div></a>
			<a href="/dashboard/carousel/"><div class="dashboard-button btn btn-default">Add / Edit Carousel Images</div></a>
			<a href="/dashboard/documentation/"><div class="dashboard-button btn btn-default">Manage Documentation</div></a>
			<a href="/dashboard/logout/"><div class="dashboard-button btn btn-default logout">Logout</div></a>
		</div>
	</div>
</div>
{% endblock %}
