{% extends "website/base_template.html" %}
{% load staticfiles %}

{% block content_body %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="content-card">
      <h2>Login with:</h2>
      {% for backend in backends.backends %}
      {% if next %}
      <a href="/login/{{backend}}/?next={{next}}"><div class="login-button {{backend}}" style="background-image: url('{% static "images/social-buttons.png" %}');">{{backend}}</div></a><br>
      {% else %}
      <a href="/login/{{backend}}/?next=/dashboard/"><div class="login-button {{backend}}" style="background-image: url('{% static "images/social-buttons.png" %}');">{{backend}}</div></a><br>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}