{% extends "website/dashboard_template.html" %}






{% block dashboard_content_body %}

<h3 class="text-center">Add / Edit Sponsor</h3>

<div class="text-center"><a href="{% url 'add_sponsor_image' %}">Add New Image</a></div>

{% for image in all_sponsor_images %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <hr>
    <img src="{{ image.image_url }}" width="20%"><br/>
    <p><strong>URL :</strong>{{ image.image_url }}</p>
    <p><strong>Caption :</strong>{{ image.image_caption }}</p><br/>
    <p><a href="{% url 'edit_sponsor_image' sponsor_image_id=image.id %} ">Edit</a> | <a class="carouselImageDeleteLink" href="{% url 'delete_sponsor_image' sponsor_image_id=image.id %} ">Delete</a></p>
    <hr>
</div>
{% endfor %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
$( ".carouselImageDeleteLink" ).click(function( event ) {
    event.preventDefault();
	var r = confirm("Are you sure you want to delete the sponsor?");
	if (r == true) {
	    window.location.href = $(this).attr('href');
	}
});
</script>
{% endblock %}
