{% extends "website/base_template.html" %}
{% load customfilters %}
{% block content_body %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="content-card">
			<div class="page-heading"><h1>Admin Panel</h1></div>

			<h3>Edit Website {% if type == "page" %} Pages{% else %} Sections {% endif %}</h3>
			<hr>
			{% if type == "page" %}
			<a href="/dashboard/sections/add/"><div class="btn btn-success">Add Page</div></a>
			<hr>
			{% endif %}

			{% for section in sections %}
			<h3>{{section}}</h3>
			{{ section.body_markdown|truncatechars:400|markdown_to_html|youtube_embed_url|safe }}
			<hr>
			<a href="/dashboard/sections/edit/{{ section.section_type }}/{{section.website_position_id}}/"><div class="btn btn-primary">Edit</div></a>
			{% if type == "page" %}
			<a class="pageDeleteLink" href="/dashboard/sections/delete/{{section.website_position_id}}/"><div class="btn btn-primary">Delete</div></a>
			{% endif %}
			<hr class="post-separator"></hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
	$( ".pageDeleteLink" ).click(function( event ) {
		event.preventDefault();
		var r = confirm("Are you sure you want to delete the page?");
		if (r == true) {
			window.location.href = $(this).attr('href');
		}
	});
</script>
{% endblock %}

