{% extends "website/dashboard_template.html" %}

{% block dashboard_content_body %}

	<a href="{% url 'update_documentation' %}"><div class="dashboard-button btn btn-default col-xs-11 col-sm-11 col-md-11 col-lg-11">Update Documentation List</div></a>
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			<hr>
			<h2>Check documentations that will be displayed:</h2>

			<form action="." method="post">
				{% csrf_token %}

				{% for doc in all_docs %}
				<p><input type="checkbox" name="docs[]" value="{{ doc.id }}" {% if doc.displayed %}checked="checked"{% endif %}> {{ doc.version }}</p><hr>
				{% endfor %}

				<input type="submit" value="Submit">
			</form>
	</div>
{% endblock %}