{% extends "website/base_template.html" %}
{% block content_body %}

<h1>Admin Panel</h1>

<h3>Add / Edit Honeycomb</h3>

<div><a href="/dashboard/honeycomb/add/">Add New Honeycomb Image</a></div>
<hr>

{% for post in all_honeycomb_posts %}
<p>{{ post.image_caption }}</p>
<img src="{{ post.image_url }}">
<a href="{{ post.target_url }}">{{ post.target_url }}</a>
<a href="/dashboard/honeycomb/edit/{{post.id}}/">Edit</a> | <a class="honeycombImageDeleteLink" href="/dashboard/honeycomb/delete/{{post.id}}/">Delete</a>
<hr>
{% endfor %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show bibtex on link click -->
<script>
$( ".honeycombImageDeleteLink" ).click(function( event ) {
    event.preventDefault();
	var r = confirm("Are you sure you want to delete the honeycomb image?");
	if (r == true) {
	    window.location.href = $(this).attr('href');
	}
});
</script>
{% endblock %}
