{% extends "website/dashboard_template.html" %}




{% block dashboard_content_body %}

<h3 class="text-center">Add / Edit News</h3>

<div class="text-center">
	<a href="{% url 'website:add_news_post' %}"><div class="btn btn-success">Add News</div></a>
</div>

{% for post in all_news_posts %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<hr>
	<p class="text-center"> {{post}}</p><br>
	<p>{{post.body_html|safe}}</p>
	<a href="{% url 'website:edit_news_post' news_id=post.id %}"><span class="btn btn-primary">Edit</span></a> | <a class="newsDeleteLink btn btn-primary" href="{% url 'website:delete_news_post' news_id=post.id %}"><span>Delete</span></a>
	<hr>
</div>
{% endfor %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
	$( ".newsDeleteLink" ).click(function( event ) {
		event.preventDefault();
		var r = confirm("Are you sure you want to delete the news?");
		if (r == true) {
			window.location.href = $(this).attr('href');
		}
	});
</script>
{% endblock %}
