{% extends "website/base_template.html" %}

{% block content_body %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="content-card">
			<a href="/dashboard/documentation/update"><div class="btn btn-default dashboard-button">Update Doc List</div></a>
			<hr>
			<h2>Check documentations that will be displayed:</h2>

			<form action="." method="post">
				{% csrf_token %}

				{% for doc in all_docs %}
				<p><input type="checkbox" name="docs[]" value="{{ doc.id }}" {% if doc.displayed %}checked="checked"{% endif %}> {{ doc.version }}</p><hr>
				{% endfor %}

				<input type="submit" value="Submit">
			</form>

		</div>
	</div>
</div>
{% endblock %}