{% extends "website/base_template.html" %}
{% load customfilters %}


{% block content_body %}

<!-- Content -->
<div class="content-card">
	{% if doc %}
	<div class="row">
		<div class="documentation-parent-links col-md-12 col-lg-12 col-sm-12">
			{% for item in doc.parents %}
				<span><a href="{{ item.link }}">{{ item.title|safe }}</a>  > </span>
			{% endfor %}
			<span><a href=".">{{ doc.title|safe }}</a></span>
		</div>
		<div class="col-md-3 col-md-push-9 col-sm-12 col-xs-12 col-lg-3 col-lg-push-9">
			<div class="documentation-toc-tree">
				{{ doc.toc | safe }}
			</div>
		</div>
		<div class="col-md-9 col-md-pull-3 col-sm-12 col-xs-12 col-lg-9 col-lg-pull-3">
			<p>{{ doc.body|safe }}</p>	
		</div>
	</div>	
	{% else %}
	<p>page does not exist</p>
	{% endif %}
</div>
{% endblock %}

{% block extra_js_bottom %}
<!-- math rendering script-->
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

<!-- anchor link script-->
<script type="text/javascript">
	// function applying the offset
	function offsetAnchor() {
	    if(location.hash.length !== 0) {
	        window.scrollTo(window.scrollX, window.scrollY - 70);
	    }
	}

	// when new anchor is clicked in the same page the offsetAnchor function is called after 1s
	$(window).on("hashchange",offsetAnchor);
	// to ensure that the offset takes place after the page has scrolled to the anchor.
	window.setTimeout(offsetAnchor, 1);
</script>
{% endblock %}
