{% extends "website/base_template.html" %}

{% block content_body %}

<!-- Content -->
<div class="content-card">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

      <h1>Latest Updates</h1>
      <hr>
      <!-- Facebook feed -->
      <div class="content-card">
        <div class="page-heading"><h3>Facebook</h3></div>
        <div>
          <table class="table">
            {% for post in fb_posts %}
            <tr>
              {% if post.message %}
              <td class="col-md-3 col-lg-3 col-sm-3"><p>{{ post.created_time|slice:":10" }}</p></td>
              <td class="col-md-9 col-lg-9 col-sm-9"><p>{{ post.message|urlize }}</p></td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <!-- Twitter Feed -->
      <div class="content-card">
        <div class="page-heading"><h3>Tweets</h3></div>
        <div>
          <table class="table">
            {% for tweet in tweets %}
            <tr>
              <td class="col-md-3 col-lg-3 col-sm-3"><p>{{ tweet.created_at|slice:":10" }}</p></td>
              <td class="col-md-9 col-lg-9 col-sm-9"><p>{{ tweet.text|urlize }}</p></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <!-- News Feed -->
      <div class="content-card">
        <div class="page-heading"><h3>News</h3></div>
        <table class="table">
          {% for news in latest_news %}
          <tr>
            <td class="col-md-3 col-lg-3 col-sm-3">{{news.post_date}}</td>
            <td class="col-md-9 col-lg-9 col-sm-9">{{ news.body_html|safe }}
              <br>
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ news.description }}" data-url="http://{{ request.get_host }}/news/{{news.id}}" data-via="dipymri" data-related="dipymri" data-show-count="false">Tweet</a>
              <span data-href="http://{{ request.get_host }}/news/{{news.id}}" class="" data-action="share" data-annotation="none"></span>
              <span class="fb-share-button" data-href="http://{{ request.get_host }}/news/{{news.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block extra_js_bottom %}
<!-- Twitter Share Button script-->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Facebook Share Button script -->
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


{% endblock %}