{% load static %}
{% load customfilters %}
{% load workshop_tags %}

<nav class="navbar navbar-default navbar-fixed-top" id="websiteNavbar"> <!-- id="websiteNavbar"> -->
    <div class="container">
        <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#basic-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img id="websiteHeaderLogo" src="{% static 'images/dipy-logo.png' %}"/>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="basic-navbar"> <!-- id="bs-example-navbar-collapse-1"> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'website:index' %}">Home</a></li>
                        {% show_workshop_menu %}
                        {% for page in pages_in_nav %}
                        <li><a href="/page/{{page.website_position_id}}">{{page.title}}</a></li>
                        {% endfor %}
                        <li><a href="{% url 'website:tutorials' %}">Tutorials</a></li>
                        <li><a href="{% url 'website:gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'website:latest_documentation' path='interfaces' %}">CLI</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Documentation<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dlabel">
                                <li><a href="{% url 'website:latest_documentation' path='documentation' %}">Manual Guide</a></li>
                                <li><a href="{% url 'website:latest_documentation' path='faq' %}">FAQ</a></li>
                                <!--<li><a href="{% url 'website:latest_documentation' path='theory/index' %}">Theory and Concept</a></li>-->
                                <li><a href="{% url 'website:latest_documentation' path='reference' %}">API</a></li>
                                <li role="presentation" class="divider"></li>
                                {% for doc in all_doc_displayed %}
                                <li><a tabindex="-1" href="/documentation/{{ doc.version }}/documentation">Manual {{ doc.version }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'website:contributors' %}">Developers</a></li>
                                <li><a href="{% url 'website:support' %}">Support</a></li>
                                <li><a href="{% url 'website:follow_us' %}">Follow Us</a></li>
                                <li><a href="{% url 'website:latest_documentation' path='cite' %}">Cite</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><img alt="" class="img-circle" width="21" height="21" src="{{user.avatar_url}}"></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'users:profile' %}">Profile Settings</a></li>
                                <li><a href="{% url 'workshop:courses' %}">Workshop Courses</a></li>
                                {% if user|has_gh_permission %}
                                <li><a href="{% url 'website:dashboard' %}">Dashboard</a></li>
                                {% endif %}
                                <li><a href="{% url 'website:dashboard_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url 'users:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
