{% load staticfiles %}

<nav class="navbar navbar-default" id="websiteNavbar">
  <div class="container-fluid">
  	<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      	<img id="websiteHeaderLogo" src="{% static "images/dipy-logo.png" %}"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right websiteNavbarList">
        <li><a href="/dashboard">Admin Panel</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right websiteNavbarList">
        <li><a href="/cite">Cite</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right websiteNavbarList">
        <li><a href="http://ghoshbishakh.github.io/dipy/newTheme/documentation.html" target="_blank">Documentation</a></li>
      </ul>
      {% for page in pages_in_nav %}
      <ul class="nav navbar-nav navbar-right websiteNavbarList">
        <li><a href="/page/{{page.website_position_id}}">{{page.title}}</a></li>
      </ul>
      {% endfor %}
      <ul class="nav navbar-nav navbar-right websiteNavbarList">
        <li><a href="/">Home</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
