{% extends "website/base_template.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "css/homeycombs.css" %}">
{% endblock %}

{% block content_body %}

<!-- Content -->
<div class="content-card">
  <div class="page-heading"><h2>Gallery</h2></div>
  <div class="honeycombs">
    {% for example in all_documentation_examples %}
    {% with example.images|last as image %}
      {% if image %}
      <div class="comb">
        {{ image|safe }}
        <span><a href="{{ example.link }}">{{ example.title }}</a></span>
      </div>
      {% endif %}
    {% endwith %}
    {% endfor %}


  </div>
  <div class="youtube-gallery">
    <h2>Youtube Gallery</h2>
    {% for video in all_youtube_videos %}
    {% if video.id.kind == "youtube#video" %}
    <h3>{{ video.snippet.title }}</h3>
    <p>{{ video.snippet.description }}</p>
    <div class="youtube-wrapper"><iframe class="youtube-embed" width="640" height="360" src="https://www.youtube.com/embed/{{ video.id.videoId }}?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe></div>
    {% endif %}
    {% endfor %}
  </div>

</div>
{% endblock %}


{% block extra_js_bottom %}
<!-- honycomb visualisation script-->
<script src="{% static "js/jquery.homeycombs.js" %}"></script> 
<script type="text/javascript">
  $(document).ready(function() {
    $('.honeycombs').honeycombs({combWidth: 200, margin: 4});
  });
</script>
{% endblock %}