{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}


{% block content_body %}
<!-- Content -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

    <div id="homeCarousel" class="carousel slide">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        {% for image in all_carousel %}
          <li data-target="#homeCarousel" data-slide-to="{{forloop.counter|add:"-1"}}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% for image in all_carousel %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{{ image.image_url }}" alt="{{ image.image_caption }}">
            {% if image.display_description %}
            <a target="_blank" href="{% if image.target_url %}{{ image.target_url }}{% else %}#{% endif %}">
              <div class="carousel-caption">
                <h2>{{ image.image_caption }}</h2>
                {% if image.image_description %}<p>{{ image.image_description }}</p>{% endif %}
              </div>
            </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="content-card home-header">
      {% if home_header %}
      <h1>{{ home_header.title }}</h1>
      <p>{{ home_header.body_html|youtube_embed_url|safe }}</p>
      {% else %}
      <p>home_header does not exist</p>
      {% endif %}
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div id="bigLinksWrapper">
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
        <a href="/page/installation/">
          <div class="big-link">
            <img src="{% static "images/download-logo.png" %}">
            <span>Install Now</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
        <a href="https://github.com/nipy/dipy" target="_blank">
          <div class="big-link">
            <img src="{% static "images/github-logo.png" %}">
            <span>Fork on Github</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
        <a href="/support">
          <div class="big-link">
            <img src="{% static "images/gitter-logo.png" %}">
            <span>Get Support</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="split-column-wrapper">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <div class="row"> 
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <div class="content-card">
            {% if getting_started %}
            <div class="page-heading"><h1>{{ getting_started.title }}</h1></div>
            <p>{{ getting_started.body_html|youtube_embed_url|safe }}</p>
            {% else %}
            <p>getting_started does not exist</p>
            {% endif %}
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
          <!-- News Feed -->
          <div class="content-card">
            <div class="page-heading"><h2>News</h2></div>
            <table class="table">
              {% for news in latest_news %}
              <tr>
                <td class="col-md-3 col-lg-3 col-sm-3">{{news.post_date}}</td>
                <td class="col-md-9 col-lg-9 col-sm-9">{{ news.body_html|safe }}
                <br>
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ news.description }}" data-url="http://{{ request.get_host }}/news/{{news.id}}" data-via="dipymri" data-related="dipymri" data-show-count="false">Tweet</a>
                <span data-href="http://{{ request.get_host }}/news/{{news.id}}" class="g-plus" data-action="share" data-annotation="none"></span>
                <span class="fb-share-button" data-href="http://{{ request.get_host }}/news/{{news.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
          <!-- Twitter Feed -->
          <div class="content-card">
            <div class="page-heading"><h2>Tweets</h2></div>
            <div>
              <table class="table">
                {% for tweet in tweets %}
                <tr>
                  <td class="col-md-3 col-lg-3 col-sm-3"><p>{{ tweet.created_at|slice:":10" }}</p></td>
                  <td class="col-md-9 col-lg-9 col-sm-9"><p>{{ tweet.text|urlize }}</p></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
          <div class="content-card">
            <div class="page-heading"><h2>Highlighted Publications</h2></div>
            {% for publication in highlighted_publications %}
            <div class="publicationInfo">
              <b><p><a href="{{ publication.url }}">{{publication.title}}</a></p></b>
              <p>{{publication.author}}</p>
              {% if publication.bibtex %}
              <a href="#" class="bibtexShowButton">Bibtex</a>
              <p class="publicationBibtex">{{publication.bibtex}}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extra_js_bottom %}
<!-- Carousel Script -->
<script type="text/javascript">
  $('.carousel').carousel()
</script>

<!-- Script to show bibtex on link click -->
<script>
  $( ".bibtexShowButton" ).click(function( event ) {
    event.preventDefault();
    $( this ).next().slideToggle();
  });
</script>

<!-- Twitter Share Button script-->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Google Plus Share Button script -->
<script>
  function renderGooglePlusButtons() {
    gapi.plus.go();
  }
  window.___gcfg = {
    lang: 'en-US',
    parsetags: 'explicit'
  };
</script>
<script src="https://apis.google.com/js/platform.js?onload=renderGooglePlusButtons" async defer></script>

<!-- Facebook Share Button script -->
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


{% endblock %}