{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}


{% block content_body %}
<div id="home_wrapper">
<!-- Content -->
<div>
    <div id="homeCarousel" class="carousel slide carousel-fade">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        {% for image in all_carousel %}
          <li data-target="#homeCarousel" data-slide-to="{{forloop.counter|add:'-1'}}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% for image in all_carousel %}
          <div class="item {% if forloop.first %}active{% endif %}">
             <!--<div class="overlay"></div>-->
            <img src="{{ image.image_url }}" alt="{{ image.image_caption }}">
            {% if image.display_description %}
            <a target="_blank" href="{% if image.target_url %}{{ image.target_url }}{% else %}#{% endif %}">
              <div class="carousel-caption">
                <h2>{{ image.image_caption }}</h2>
                {% if image.image_description %}<p>{{ image.image_description }}</p>{% endif %}
              </div>
            </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>

<section id="info-section">
    <h1 class="orange text-center"><b>What is DIPY?</b></h1>
    {% if home_description %}
    {{ home_description|safe }}
    {% else %}
    <p class="text-center">DIPY is a free and open source software project for computational neuroanatomy, focusing mainly on diffusion magnetic resonance imaging (dMRI) analysis. It implements a broad range of algorithms for denoising, registration, reconstruction, tracking, clustering, visualization, and statistical analysis of MRI data.</p>
    {% endif %}
</section>

<section id="download-section">
    <h2>DIPY is easy to install:</h2>
    <div id="banner-start">    
      <span id="banner-start-command" class="txt-rotate"
      data-period="2000"
      data-rotate='["pip install dipy", "conda install -c conda-forge dipy"]'></span>
    </div>
    <p>Available on many operating systems</p>
    <div>
      <ul>
        <li class="orange grow"><a href="/documentation/latest/installation/#windows" class=""><i class="fa fa-windows"></i></a>
        </li>
        <li class="orange grow"><a href="/documentation/latest/installation/#osx" class=""><i class="fa fa-apple"></i></a>
        </li>
        <li class="orange grow"><a href="/documentation/latest/installation/#linux" class=""><i class="fa fa-linux"></i></a>
        </li>
        <!-- <li class="col-green-hover"><a href="/download" class="ext-link-processed"><i class="fa fa-android"></i><span class="text-center">Android</span></a>
        </li>
        <li class="col-red-hover"><a href="/download" class="ext-link-processed"><i class="fa fa-pi"></i><span class="text-center">Raspberry Pi</span></a>
        </li> -->
      </ul>
    </div>
</section>

<section>
  <div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Pre-Processing</h3>
    <div class="orange-border">
      <p>Denoising : NLmeans, Local PCA <br/>
      Brain extraction</p>
      <p>SNR estimation / Reslice Datasets</p>
      <p><a href="{% url 'tutorials' %}"> More...</a></p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Registration</h3>
    <div class="orange-border">
      <p>Streamlines based Registration</p>
      <p>Affine Registration</p>
      <p>Diffeomorphic 2D/3D Registration</p>
      <p><a href="{% url 'tutorials' %}"> More...</a></p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Reconstruction</h3>
    <div class="orange-border">
      <p>Single Shell: DTI, CSD, SDT, SFM, Q-Ball CSA...</p>
      <p>Multi Shell: GQI, DTI, DKI, SHORE and MAPMRI...</p>
      <p><a href="{% url 'tutorials' %}"> More than 20 Models...</a></p>
    </div>
  </div>
  <div class="clearfix visible-lg-block"></div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Tractography</h3>
    <div class="orange-border">
      <p>Tissue Classification</p>
      <p>Many tracking algorithms</p>
      <p>Apply different operations on streamlines </p>
      <p>Simplify large datasets via streamlines clustering.</p>
      <p>Calculate distances/correspondences between streamlines.</p>
      <p><a href="{% url 'tutorials' %}"> More...</a></p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Visualization</h3>
    <div class="orange-border">
      <p>Simple interactive visualization of ODFs</p>
      <p>Streamlines interactive visualization </p>
      <p>Advanced widget</p>
      <p><a href="{% url 'tutorials' %}"> More...</a></p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 col-lg-4">
    <h3>Command Line Interfaces</h3>
    <div class="orange-border">
      <p>Many algorithms available via command line</p>
      <p>Create your owns command line!</p>
      <p><a href="{% url 'tutorials' %}"> More...</a></p>
    </div>
  </div>
</div>
</section>

<section class="bg-gray">
      <div id="bigLinksWrapper">
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
          <a href="{% url 'tutorials' %}">
            <div class="big-link">
              <img src="{% static 'images/download-logo.png' %}">
              <span>Getting Started</span>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
          <a href="https://github.com/nipy/dipy" target="_blank">
            <div class="big-link">
              <img src="{% static 'images/github-logo.png' %}">
              <span>Fork on Github</span>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4 big-link-col">
          <a href="/support">
            <div class="big-link">
              <img src="{% static 'images/gitter-logo.png' %}">
              <span>Get Support</span>
            </div>
          </a>
        </div>
      </div>
  </section>

<section>
  <div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="text-center page-heading"><h2>Annoucements</h2></div>
      <hr>
      {{announcements|safe|truncatechars_html:1200}}
      <!--<table class="table">-->
        <!--{% for news in latest_news %}-->
        <!--<tr>-->
          <!--<td class="col-md-3 col-lg-3 col-sm-3">{{news.post_date}}</td>-->
          <!--<td class="col-md-9 col-lg-9 col-sm-9">{{ news.body_html|safe }}-->
          <!--<br>-->
          <!--<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ news.description }}" data-url="http://{{ request.get_host }}/news/{{news.id}}" data-via="dipymri" data-related="dipymri" data-show-count="false">Tweet</a>-->
          <!--<span data-href="http://{{ request.get_host }}/news/{{news.id}}" class="g-plus" data-action="share" data-annotation="none"></span>-->
          <!--<span class="fb-share-button" data-href="http://{{ request.get_host }}/news/{{news.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></span>-->
          <!--</td>-->
        <!--</tr>-->
        <!--{% endfor %}-->
      <!--</table>-->
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="text-center page-heading"><h2>Highlights</h2></div>
      <hr>
      {{highlights|safe|truncatechars_html:1200}}
      <!--{% for publication in highlighted_publications %}-->
      <!--<div class="publicationInfo">-->
        <!--<b><p><a href="{{ publication.url }}">{{publication.title}}</a></p></b>-->
        <!--<p>{{publication.author}}</p>-->
        <!--{% if publication.bibtex %}-->
        <!--<a href="#" class="bibtexShowButton">Bibtex</a>-->
        <!--<p class="publicationBibtex">{{publication.bibtex}}</p>-->
        <!--{% endif %}-->
      <!--</div>-->
      <!--{% endfor %}-->
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
      <div class="text-center page-heading"><h2>Tweets</h2></div>
      <div>
        <table class="table">
          {% for tweet in tweets %}
          <tr>
            <td class="col-md-3 col-lg-3 col-sm-3"><p>{{ tweet.created_at|slice:":10" }}</p></td>
            <td class="col-md-9 col-lg-9 col-sm-9"><p>{{ tweet.text|urlize }}</p></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>

<section id="cite-section" {% if all_sponsor %} class='bg-gray' {% endif%}>
  <h2 class="text-center"><a class="orange" href="{% url 'latest_documentation' path='cite' %}"> Cite Us !</a></h2>
  <br/>
  <p>Garyfallidis E, Brett M, Amirbekian B, Rokem A, van der Walt S, Descoteaux M, Nimmo-Smith I and Dipy Contributors (2014). <a class="reference external" href="http://journal.frontiersin.org/Journal/10.3389/fninf.2014.00008/abstract">DIPY, a library for the analysis of diffusion MRI data.</a> Frontiers in Neuroinformatics, vol.8, no.8.<p>
  <!--  {{publications|safe}}
  <ul class="list-unstyled">-->
    <!--{% for publication in highlighted_publications %}-->
    <!--<li>-->
      <!--<b><p><a href="{{ publication.url }}">{{publication.title}}</a></p></b>-->
      <!--<p>{{publication.author}}</p>-->
    <!--</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->
</section>

{% if all_sponsor %}
<section>
    <h2 class="text-center">Sponsors</a></h2>
    {% for sponsor in all_sponsor%}
    <div class="col-4"><img alt="{{sponsor.image_caption}}" src="{{sponsor.image_url}}"></div>
    {% endfor %}
</section>
{% endif%}

</div>
{% endblock %}


{% block extra_js_bottom %}
<!-- Carousel Script -->
<script type="text/javascript">
  $('.carousel').carousel()
</script>

<!-- Script to show bibtex on link click -->
<script>
  $( ".bibtexShowButton" ).click(function( event ) {
    event.preventDefault();
    $( this ).next().slideToggle();
  });
</script>

<!-- Twitter Share Button script-->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Facebook Share Button script -->
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


{% endblock %}