{% extends "website/base_template.html" %}
{% load staticfiles %}

{% block content_body %}

<!-- Content -->
<div class="content-card">
  <div class="page-heading"><h1>Tutorials</h1></div>
  <div class="tutorials-container">

    {% for major_section in all_documentation_examples %}
    <div class="major_section">
      {{ major_section.title|safe }}

      {% for minor_section in major_section.minor_sections %}
        <div class="minor_section">
        {{ minor_section.title|safe }}
        <div class="tutorials_section">
        {% if minor_section.valid %}
          {% for example in minor_section.examples_list %}
            <div class="tutorial-wrapper  row">
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-9">
                <a href="{{ example.link }}" target="_blank">
                  <h3>{{ example.title }}</h3>
                </a>
                <p>{{ example.description }}</p>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 col-lg-3">
                {{ example.images.1|safe }}
              </div>
            </div>
          {% endfor %}
        {% else %}
            <div class="tutorial-wrapper row">
              <h3>Something went wrong with this tutorial. Please report the issue <a href="https://github.com/nipy/dipy_web/issues">here.</a></h3>
            </div>
        {% endif %}
        </div>
        </div>
      {% endfor %}

      <div class="tutorials_section">
      {% if major_section.valid %}
        {% for example in major_section.examples_list %}
          <div class="tutorial-wrapper  row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-9">
              <a href="{{ example.link }}" target="_blank">
                <h3>{{ example.title }}</h3>
              </a>
              <p>{{ example.description }}</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-3">
              {{ example.images.1|safe }}
            </div>
          </div>
        {% endfor %}
      {% else %}
          <div class="tutorial-wrapper  row">
            <h3 class="tutorial_error">Something went wrong with this tutorial. Please report the issue <a href="https://github.com/nipy/dipy_web/issues" target="_blank">here.</a></h3>
          </div>
      {% endif %}
      </div>

    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}

{% block extra_js_bottom %}
<!-- Script to toggle example sections -->
<script>
$( ".major_section > h2" ).click(function( event ) {
  event.preventDefault();
  $(this).siblings("div.minor_section").slideToggle(400);
  $(this).siblings("div.tutorials_section").slideToggle(400);
});

$( ".minor_section > h3" ).click(function( event ) {
  event.preventDefault();
  $(this).siblings("div.tutorials_section").slideToggle(400);
});
</script>

<!-- math rendering script-->
<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}