{% extends "website/dashboard_template.html" %}






{% block dashboard_content_body %}

<h3 class="text-center">Add / Edit Workshop Event</h3>

<div class="text-center"><a href="{% url 'workshop:add_workshop' %}">Add New Workshop Event</a></div>

{% for workshop in all_workshops %}
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <hr>
    <!-- <img src="{{ workshop.image_url }}" width="20%"><br/> -->
    <h2 class="text-center"><strong>DIPY WORKSHOP {{ workshop.year }}</strong> </h2><br/>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6"><strong>Start Date: </strong>{{ workshop.start_date }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>End Date: </strong>{{ workshop.end_date }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Registration Start Date: </strong>{{ workshop.registration_start_date }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Registration End Date: </strong>{{ workshop.registration_end_date }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Is in person?  </strong>{{ workshop.is_in_person|yesno }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Is visible?  </strong>{{ workshop.is_published|yesno }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Nb Attendees:  </strong>{{ workshop.members.all|length }}</div>
    <div class="p-b-10 col-xs-12 col-sm-6 col-md-6 col-lg-6 "><strong>Nb Speakers:  </strong>{{ workshop.speakers.all|length }}</div>
    <div class="p-b-10 col-xs-12 col-sm-12 col-md-12 col-lg-&2 "><strong>Attendees Email:  </strong>
        {% for m in workshop.members.all %}
        <span>&lt;{{m.email}}&gt;</span>
        {% endfor %}
    </div>
    <p><a href="{% url 'workshop:edit_workshop' workshop_id=workshop.id %} ">Edit</a> | <a class="workshopDeleteLink" href="{% url 'workshop:delete_workshop' workshop_id=workshop.id %} ">Delete</a></p>
    <hr>
</div>
{% endfor %}

{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
$( ".workshopImageDeleteLink" ).click(function( event ) {
    event.preventDefault();
	var r = confirm("Are you sure you want to delete the carousel?");
	if (r == true) {
	    window.location.href = $(this).attr('href');
	}
});
</script>
{% endblock %}
