{% extends "workshop/eventspace_template.html" %}
{% load customfilters %}

{% block extra_css %}
<style>
  .row.equal {
    display: flex;
    flex-wrap: row wrap;
  }

  .row.equal::before {
    display: block;
  }

  .cal:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.schedule-img {
    display: inline;
    margin: 5px;

}
</style>
{% endblock %}

{% block dashboard_content_body %}

<h1 class="text-center p-b-20"><b><u>Schedule</u></b></h1>

<div class="col-lg-12 p-b-20">
    <!-- <p><strong>Notes:</strong></p> -->
    <h3><b>- Videos released every morning at your respective timezone.</b></h3>
    <h3><b>- Do not miss the live Keynotes, Q&A and Demo sessions.</b></h3>
    {% if workshop.schedule_pdf_link %}
    <h3><b>- Download the detailed workshop program <a href="{{workshop.schedule_pdf_link}}">here</a></b></h3>
    {% endif %}
</div>
<div class="col-lg-12">
    <div class="row equal with-padding-10">
            {% if calendar %}
            {% for event in calendar %}
                <div class="col-lg-4 p-b-20">
                    <a href="{% url 'workshop:eventspace_daily' workshop.slug event.0|date:'Ymd' %}"><div class="cal">
                        <div class="panel-body">
                            <h4 class="">Day {{ forloop.counter }} - {{ event.0|date:"l, F d"}} </h4>
                            <hr style="border:2px solid" class="color-dipy">
                            <ul class="p-l-0" style="list-style: none;">
                                {% for topic in event.1 %}
                                <li class="p-b-10">
                                    <p class="color-black"><u>{{topic.1}}</u> - <strong>{{topic.0}}</strong></p>
                                    <p>
                                        {% for speaker in topic.2 %}
                                        <img class="rounded-circle schedule-img" src="{{speaker.1}}" alt="{{speaker.0}}" width="10" height="10"><small class="text-muted">{{speaker.0}} </small>
                                        {% endfor %}
                                    </p>
                                </li>
                                {% endfor %}
                            </ul>
                            <p></p>
                        </div>
                    </div></a>
                </div>
            {% endfor %}
            {%else %}
            <div class="col-lg-4 offset-4 p-b-20">
                <div class="card">
                    <div class="card-body">
                        <h4 class="">To be Defined</h4>
                        <hr style="border:2px solid" class="color-dipy">
                        <p>We are currently finalising the calendar.</p>
                    </div>
                </div>
            </div>
            {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_js_bottom %}

{% endblock %}

