{% extends "workshop/eventspace_template.html" %}
{% load static %}
{% load customfilters %}
{% block dashboard_content_body %}

<div class="col-lg-12">
<img src="{% static 'workshop/images/intro-dipy-ws-2021.png' %}">
</div>
<div class="p-t-80 col-lg-12 text-center">
    <div class="page-heading p-b-50"><h2><b>Schedule and how to plan your week</b></h2></div>
    <h3><strong>Educational videos</strong></h3>
    <p> All educational videos will be released at 10 am EST each day. You can access them through the <a href="{% url 'workshop:eventspace_calendar' workshop_slug=workshop.slug %}">schedule page.</a></p>
    <h3><strong>Live Q&A Session</strong></h3>
    <p>Starts at 3pm EST everyday. Ask all your questions during this live event.</p>
    <p>Join using the following link: <a href="https://iu.zoom.us/s/89566117760">https://iu.zoom.us/s/89566117760</a></p>
    <h3><strong>Data accelerator (M-W)</strong></h3>
    <p>Need help with you data? Let's discuss about it. You can reserve a 20min slot <a href="https://docs.google.com/spreadsheets/d/1eI_4J8qXmRhnFk-CRpNLVlm-cLWlN3ke5wL3dWyY3jU/edit?usp=sharing">here</a> and the DIPY team will provide suggestions.</p>
    <p>Join using the following link: <a href="https://iu.zoom.us/s/82498644798">https://iu.zoom.us/s/82498644798</a></p>
    <h3><strong>Coding Sprint (T-F)</strong></h3>
    <p>Want to contribute a new feature? Add you details <a href="https://docs.google.com/spreadsheets/d/1FOJ102nq9aR_LOc6kPRzCCj-VxNd61eKf2E_hIeLLPs/edit?usp=sharing">here</a>.</p>
    <p>Zoom Link for your session: <a href="https://iu.zoom.us/s/82498644798">https://iu.zoom.us/s/82498644798</a></p>
    <h3><strong>Chat</strong></h3>
    <p>All questions can be adressed on <a href="{% url 'workshop:eventspace_chat' workshop_slug=workshop.slug %}">our integrated chat</a></p>


</div>
<div class="p-t-80 col-lg-12">
    <div class="page-heading"><h3>Your Last Tweets! </h3></div>
    <p>Share on twitter with #dipyworkshop2021 #dipyworkshop or @dipymri tags</p>
    <div>
        <table class="table">
        {% for tweet in tweets %}
        <tr>
            <td class="col-md-3 col-lg-3 col-sm-3"><p>{{ tweet.created_at|slice:":10" }}</p></td>
            <td class="col-md-9 col-lg-9 col-sm-9">
                <p>{{ tweet.full_text|urlize }}</p>
                <p class="text-right">
                    {% if tweet.author.url %}
                    <a href="{{tweet.author.url}}">by {{tweet.author.name}}</a>
                    {% else %}
                    by {{tweet.author.name}}
                    {% endif %}
                </p>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js_bottom %}

{% endblock %}

