{% extends "workshop/eventspace_template.html" %}
{% load customfilters %}
{% block dashboard_content_body %}
<div class = "col-md-8 col-md-offset-2 m-t-80 m-b-80">
<iframe src="https://e.widgetbot.io/channels/695048505902891009/695305679682011217" height="600" width="800"></iframe>
<!-- <widgetbot
  server="695048505902891009"
  channel="695305679682011217"
  width="800"
  height="600"
></widgetbot> -->
</div>

{% endblock %}

{% block extra_js_bottom %}
<!-- <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script> -->
{% endblock %}

