{% extends "workshop/eventspace_template.html" %}
{% load static %}
{% load customfilters %}
{% load workshop_tags %}

{% block extra_css %}
<style>
#accordion .glyphicon { margin-right:10px; }
.panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
.panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
.panel-collapse>.list-group {margin-bottom: 0;}
.panel-collapse .list-group-item {border-radius:0;}

.list-group-item img {
  display: inline-block;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item:hover {
  background-color: slategray;
  color: white;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
</style>
{% endblock %}

{% block dashboard_content_body %}

<div class="col-lg-12">
  <h1 class="text-center p-b-30">Session on {{release_date|date}}</h1>
  <div class="col-lg-4">
    {% for lesson in all_lesson %}
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a class='color-black' data-toggle="collapse" data-parent="#accordion" href="#collapseOne-{{forloop.counter}}">
              <h4 class="panel-title">{{lesson.name}}</h4>
            </a>
          </div>
          <div id="collapseOne-{{forloop.counter}}" class="panel-collapse collapse {% if video in lesson.videos.all %} in {% endif %}">
            {% for vid in lesson.videos.all %}
            {% if workshop in vid.workshops.all %}
            <div class="list-group">
              <a href="{% url 'workshop:eventspace_daily' workshop_slug=workshop.slug date=release_date|date:'Ymd'  %}?video_id={{vid.id}}" class="list-group-item {% if vid.slug == video.slug %} active {% endif %}">
                <h4 class="fs-13 p-b-10">{{vid.title}}</h4>
                <div class="">
                  {% for speaker in vid.speakers.all%}
                    <div>
                      <img class="rounded-circle" src="{{speaker.avatar_url}}" alt="{{speaker.fullname}}" width="15" height="15">
                      <span class="fs-11">{{speaker.fullname|title}}</span>
                    </div>
                  {% endfor %}
                  <div class="p-t-10" style="text-align: right;"><span><i class="fa fa-youtube-play color-dipy p-r-5" aria-hidden="true"></i></span></div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-lg-8 p-b-50">
    <div class="col-lg-12 youtube-wrapper">
      {% if not video.video_url or not can_release_videos %}

        <span class="fa fa-lock p-t-80 w-full text-center" style="font-size: 3em;"></span>
        <h1 class="text-center p-b-80">The session will be unlocked on {{release_date|date}}</h1>
      {% else%}
        <iframe class="youtube-embed" width="640" height="360" src="https://www.youtube.com/embed/{{ video.video_id }}?rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </div>
    {% if all_qa %}
    <div class="col-lg-12 p-t-30">
      <h2 class="text-center blink_me">Live Session</h2>
      {% for qa in all_qa%}
      <div class='p-b-10 col-md-5 col-lg-5'>
        <hr class="rounded">
        <p><strong>Subject:</strong> {{qa.session.name}}</p>
        <p><strong>Time:</strong>  {{ qa.start_date|date:"g:i a" }} ET</p>
        <p><strong>Link:</strong> <a href="{{qa.session.qa.zoom_link}}">{{qa.session.qa.zoom_link}}</a></p>
        {% if qa.session.qa.password %}
        <p><strong>Password:</strong> {{qa.session.qa.password}}</p>
        {% endif %}
        <p><strong>Panel:</strong> </p>
        {% for speaker in qa.session.qa.panel.all %}
        <div class="">
          <img class="rounded-circle dis-inline-block" src="{{speaker.avatar_url}}" alt="{{speaker.fullname}}" width="15" height="15">
          <span class="fs-11">{{speaker.fullname|title}}</span>
        </div>
        {% endfor %}
        <hr class="rounded">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{% endblock %}

