{% extends "website/base_template.html" %}
{% load static %}


{% block nav %}
<div id="dashboard_header">
    <div class="container">
        <div id="dashboard_header_inner">
            {% if user.get_full_name|length > 0 %}

                <h2>Welcome to the DIPY Workshop {{workshop.year}}</h2>

			{% else %}

                <h2>Welcome to the DIPY Worshop {{workshop.year}}</h2>

			{% endif %}
            <p>Learn, Code,  Share ...</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content_body %}
<!-- Dashboard Menu -->
    	<div class="bg-white">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li><a href="{% url 'workshop:eventspace' workshop_slug=workshop.slug %}" >Home</a></li>
                            <li><a href="" >Calendar</a></li>
                            <li><a href="" >Courses</a></li>
                            <li><a href="" >Publications</a></li>
                            <li><a href="" >Chat</a></li>
                            <li><a href="" >Sponsor</a></li>
                            <li><a href="" >Help</a></li>
                            <li><a href="" >Logout</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                         <div class="row">
			                {% if messages %}
                                {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="messageModal">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endif %}
                                {% block dashboard_content_body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% if messages %}
{% block extra_js_bottom %}
<script>
    // Show the message modal
    $('#messageModal').hide().fadeIn(200).delay(2000).fadeOut(1000, function () { $(this).remove(); });
</script>
{% endblock %}
{% endif %}
