{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>DIPY WORKSHOP {{workshop.year}}</title>
  <meta name="author" content="Maharshi Gor" />
  <meta name="description" content="DIPY Workshop {{workshop_year}} {{workshop.location}}" />
  <meta name="keywords" content="Workshop, neuroimaging, dti, diffusion imaging" />
  <link rel="icon" type="image/png" href="{% static 'images/dipy-favicon.png' %}">
  <meta name="Resource-type" content="Document" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'workshop/vendor/fullpage/css/jquery.fullpage.css' %}" />

  <!-- Font Awesome -->
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
    type='text/css'>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/countdown.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/util.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/workshop-2023.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/timeline.css' %}" />

</head>

<body>

  <!-- Navbar -->
  <div id="menu-wrap" class="">
    <div class="row" style="max-height: 100%;">
      <div class="col-md-1 hamburger"><a href="javascript:void(0);" class="icon" onclick="openCloseMenu()"><i
            class="fa fa-bars color-dipy"></i></a></div>
      <div class="col-md-10" id="menu">
        <ul>
          <li data-menuanchor="Home"><a href="#Home">Home</a></li>
          <li data-menuanchor="Speakers"><a href="#Speakers">Speakers</a></li>
          <li data-menuanchor="Schedule"><a href="#Schedule">Schedule</a></li>
          <li data-menuanchor="Registration"><a href="#Registration">Registration</a></li>
          <li data-menuanchor="Venue"><a href="#Venue">Venue</a></li>
          <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-1"><img class="" src="{% static 'workshop/images/iu_trident_web_reverse.png' %}"></div>
    </div>
  </div>
  <main id="fullpage">
    <section class="home page" id="section_1">
      <div class="simpleslide100">
      {% if workshop.bg_images.all %}
        {% for bg in workshop.bg_images.all %}
        <div class="simpleslide100-item bg-img1" style="background-image: url('{{bg.url}}');"></div>
        {% endfor %}
      {% else %}
        <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'workshop/images/dipy_odf_vs_2018-10-03.png' %});"></div>
        <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'workshop/images/CST.png' %});"></div>
        <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'workshop/images/msd_odfs.png' %});"></div>
      {% endif %}
      </div>
      <div class="content-section">
        <h1 class="content-title l1-txt1 p-b-10">
          DIPY WORKSHOP
        </h1>
        <div class="speaker-divider m-b-40"></div>
        <h5 class="m2-txt4 p-b-25">
          {{workshop.codename|title}} Edition
        </h5>
        {% if workshop.start_date.year !=  workshop.end_date.year %}
        <p class="m2-txt3 p-b-10">{{workshop.start_date|date:"dS F Y"}} - {{workshop.end_date|date:"dS F Y"}}</p>
        {% elif workshop.start_date.month !=  workshop.end_date.month %}
        <p class="m2-txt3 p-b-10">{{workshop.start_date|date:"dS F"}} - {{workshop.end_date|date:"dS F Y"}}</p>
        {% else %}
        <p class="m2-txt3 p-b-10">{{workshop.start_date|date:"dS "}} - {{workshop.end_date|date:"dS F Y"}}</p>
        {% endif %}
        <p class="m2-txt1 p-b-48">
          {{workshop.location}}
        </p>

        {% if coming_soon %}
        <small class="m2-txt1 p-b-25"> <b class="m2-txt2">Registrations</b> starts in</small>

        <div id="countdown" class="p-b-48">
          <div class="number">
            <span class="days time"></span>
            <span class="text">Days</span>
          </div>
          <div class="number">
            <span class="hours time"></span>
            <span class="text">Hours</span>
          </div>
          <div class="number">
            <span class="minutes time"></span>
            <span class="text">Minutes</span>
          </div>
          <div class="number">
            <span class="seconds time"></span>
            <span class="text">Seconds</span>
          </div>
        </div>

        <div class="p-b-25">
          <a href="https://mail.python.org/mailman3/lists/dipy.python.org/" role="button"
            class="btn btn-lg btn-secondary register-btn">KEEP ME UPDATED</a>
        </div>
        {% endif %}
      </div>
    </section>

    <section class="speakers page" id="section_2">
      <div class="speakers-wrapper">
        <h1 class="content-title l1-txt1 p-b-10 color-black">
          Speakers
        </h1>
        <div class="speaker-divider m-b-40"></div>
        <div class="speaker-content">
          <div class="row">
            {% for speaker in workshop.speakers.all %}
            <div class="col-lg-4 p-b-40">
              <div class="speaker-card">
                <div class="speaker-img">
                  <img src="{{speaker.avatar_url}}" alt="{{speaker.fullname}}">
                </div>
                <div class="speaker-data">
                  <h3 class="m2-txt4">{{speaker.fullname|title}}</h3>
                  <p class="p-t-10">{{speaker.title}}</p>
                  <p class="s2-text3">{{speaker.affiliation}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section>
    <section class="program page" id="section_3">
      <h1 class="content-title l1-txt1 p-b-10 color-black">
        Schedule
      </h1>
      <div class="speaker-divider m-b-40"></div>
      <div class="program-content">
        <div class="row p-l-40 p-r-40 p-b-80">
          <div class="col-lg-4">
            <div class="program-day">
              <h3 class="program-title m2-txt3 m-b-10">
                Day 1 - Monday, April 24
              </h3>
              <h5 class="program-title m2-txt4 p-b-20">
                Preprocessing
              </h5>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Workshop Overview &amp; Install Instructions</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Imaging Data</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Visualization of 3D/4D</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Brain extraction</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Denoising</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Registration</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Susceptibility Correction</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="program-day">
              <h3 class="program-title m2-txt3 m-b-10">
                Day 2 - Tuesday, April 25
              </h3>
              <h5 class="program-title m2-txt4 p-b-20">
                Reconstruction
              </h5>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Diffusion Tensor Imaging</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Diffusion Kurtosis Imaging (DKI)</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Spherical Harmonic Reconstruction</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Microstructure Modeling</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Q-Space Trajectory Imaging</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Other reconstruction</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="program-day">
              <h3 class="program-title m2-txt3 m-b-10">
                Day 3 - Wednesday, April 26
              </h3>
              <h5 class="program-title m2-txt4 p-b-20">
                Tractography
              </h5>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Computational Neuroanatomy</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tractography Algorithms</h6>
                              <p class="p-t-10">FACT, EUDX, PFT, PTT</p>


                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tractography Segmentation </h6>
                              <p class="p-t-10">QuickBundles, RecoBundles, Streamline Search</p>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tractography File Formats</h6>
                              <p class="p-t-10">TRK, TCK, TRX</p>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Validation</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-l-40 p-r-40 p-t-20">
          <div class="col-lg-4">
            <div class="program-day">
              <h3 class="program-title m2-txt3 m-b-10">
                Day 4 - Thursday, April 27
              </h3>
              <h5 class="program-title m2-txt4 p-b-20">
                Tractometry
              </h5>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tractography Registration</h6>
                              <p class="p-t-10">Rigid (SLR), Nonrigid (BundleWarp)</p>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tractometry Analysis</h6>
                              <p class="p-t-10">Bundle Analytics 1.0, Bundle Analytics 2.0</p>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Metric Fusion</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Searching for Pathways</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="program-day">
              <h3 class="program-title m2-txt3 m-b-10">
                Day 5 - Friday, April 28
              </h3>
              <h5 class="program-title m2-txt4 p-b-20">
                Mixed Topics
              </h5>
              <div class="row">
                <div class="col-12">
                  <!-- Timeline Area-->
                  <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Intra-Voxel Incoherent Motion (IVIM)</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Tissue Classification</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Other Clinical applications</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Present your work</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                              <!-- <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Practice</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                      <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="timeline-text">
                              <h6 class="timeline-text-title">Conclusions and Next Steps</h6>
                              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                              <div class="wrapper">
                                <img class="avatar" src="{% static 'workshop/images/garyfallidis.jpg' %}">
                                <img class="avatar" src="{% static 'workshop/images/matthew_sm.jpg' %}" style="left: -18px">
                              </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">

          </div>
        </div>
      </div>

    </section>
    <section class="payment page" id="section_4">
      <h1 class="content-title l1-txt1 p-b-10 color-black">
        Registrations
      </h1>
      <div class="speaker-divider m-b-40"></div>
      <div class="payment-content">
        <div class="row p-l-60 p-r-60">
          <div class="col-lg-4 col-sm-12 p-b-30">
            <div class="payment-card">
              <h4 class="payment-card-title m2-txt4">
                Student
              </h4>
              <h4 class="payment-card-amount">
                &dollar;995&#42;
              </h4>
              <div class="payment-benefits">
                <p class="m2-txt3 p-b-10">Who should take this?</p>
                <ul class="s2-text3">
                  <li>Master's Degree Students</li>
                  <li>PhD Candidates</li>
                  <li>Postdocs Fellows</li>
                </ul>
              </div>
              <div class="payment-purchase p-b-20 flex-c">
                <div>
                  <button class="btn btn-lg btn-secondary register-btn"
                    onclick="window.location.href='https://indianauniv.ungerboeck.com/prod/emc00/register.aspx?OrgCode=10&EvtID=11238&AppCode=REG&CC=123012550750';">
                    Register NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 p-b-30">
            <div class="payment-card">
              <h4 class="payment-card-title m2-txt4">
                Academic
              </h4>
              <h4 class="payment-card-amount">
                &dollar;1200&#42;
              </h4>
              <div class="payment-benefits">
                <p class="m2-txt3 p-b-10">Who should take this?</p>
                <ul class="s2-text3">
                  <li>Faculty</li>
                  <li>Research Scientist</li>
                  <li>Any Academic Personnel</li>
                </ul>
              </div>
  
              <div class="payment-purchase p-b-20 flex-c">
                <div>
                  <button class="btn btn-lg btn-secondary register-btn"
                    onclick="window.location.href='https://indianauniv.ungerboeck.com/prod/emc00/register.aspx?OrgCode=10&EvtID=11238&AppCode=REG&CC=123012550750';">
                    Register NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 p-b-30">
            <div class="payment-card">
              <h4 class="payment-card-title m2-txt4">
                Non - Academic
              </h4>
              <h4 class="payment-card-amount">
                &dollar;1500&#42;
              </h4>
              <div class="payment-benefits">
                <p class="m2-txt3 p-b-10">Who should take this?</p>
                <ul class="s2-text3">
                  <li>Industry Personnel</li>
                  <li>Hospital Personnel</li>
                  <li>Clinical Personnel</li>
                </ul>
              </div>
              <div class="payment-purchase p-b-20 flex-c">
                <div>
                  <button class="btn btn-lg btn-secondary register-btn"
                    onclick="window.location.href='https://indianauniv.ungerboeck.com/prod/emc00/register.aspx?OrgCode=10&EvtID=11238&AppCode=REG&CC=123012550750';">
                    Register NOW
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="p-t-20 flex-c s2-txt2">

        &#42;These prices includes Unlimited Coffee, Continental Breakfast and Snacks on the venue

      </div>
    </section>

    <section class="page venue" id="section_5">
      
      <div class="container-fluid" id="map_wrapper">
        <h1 class="content-title l1-txt1 p-b-10 color-black">
          Venue
        </h1>
        <div class="speaker-divider m-b-40"></div>
          <div class="map_canvas">
              <div class="gmap_canvas">
                  <iframe id="gmap_canvas" height="80%" width="100%" src="{{workshop.location_map}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
          </div>
      </div>
    </section>

    <section class="contact page" id="section_6">
      <h1 class="content-title l1-txt1 p-b-10 color-black">
        Contact
      </h1>
      <div class="speaker-divider m-b-40"></div>

      <div class="row">
        <div class="col-12 p-l-10 p-r-50">
          <!-- <i class="fa fa-4x fa-envelope-o" style="color: #ff7f00;"></i> -->
          <p class="m2-txt3 p-t-20">Contact us for more information by sending an email at
            <strong>dipy&#64;python.org</strong>
          </p>
          <p class="m2-txt3 p-t-20">or joining our interactive chatroom at <a
              href="https://gitter.im/dipy/dipy"><strong>https://gitter.im/dipy/dipy</strong></a></p>

        </div>
      </div>
    </section>
  </main>



  <script type="text/javascript" src="{% static 'workshop/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'workshop/vendor/scrolloverflow.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'workshop/vendor/fullpage/js/jquery.fullpage.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#fullpage').fullpage({
        //easingcss3: linear,
        sectionSelector: '.page',
        autoScrolling: true,
        scrollOverflow: true,
        fitToSection: true,
        navigation: false,
        navigationPosition: 'right',
        continuousVertical: false,
        anchors: ["Home", "Speakers", "Schedule", "Registration", "Venue", "Contact"],

        menu: '#menu-wrap',

        onLeave: function (index, newIndex, direction) {
          if (index == 1 && direction == 'down') {
            $('#menu-wrap').fadeIn(600);
          }
          else if (newIndex == 1 && direction == 'up') {
            $('#menu-wrap').hide();
          }
          else if (index == 2 && direction == 'down') {
            //alert("test");
            $('div.custom-box').addClass('animated bounce delay-4s slower');
          }
          else if (index == 3) {
            $('div.custom-box').removeClass('animated bounce delay-4s slower');
          }
          else if (index == 4 && direction == 'up') {
            //alert("test");
            $('div.custom-box').addClass('animated bounce delay-4s slower');
          }

        },
      });
      $('#menu-wrap').hide();
    });
    function openCloseMenu () {
      var x = document.getElementById("menu");
      if (x.className.includes("responsive")) {
        x.className = "col-md-10"
      } else {
        x.className = "responsive";
      }
    }
  </script>

  <script type="text/javascript" src="{% static 'workshop/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'workshop/js/countdown.js' %}"></script>


</body>

</html>