{% load static %}
{% load workshop_tags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>DIPY WORKSHOP {{workshop.year}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="author" content="Serge Koudoro" />
    <meta name="description" content="DIPY Workshop {{workshop_year}} {{workshop.location}}" />
    <meta name="keywords"  content="Workshop, neuroimaging, dti, diffusion imaging" />
    <meta name="Resource-type" content="Document" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'images/dipy-favicon.png' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'workshop/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'workshop/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'workshop/vendor/fullpage/css/jquery.fullpage.css' %}" />
    <!--========================================Project CSS============================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workshop/css/main.css' %}" />
    <!--======================================Custom Fonts=============================================-->
   <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
   <!--====================================== Stripe =============================================-->
   <script src="https://js.stripe.com/v3/"></script>

</head>
<body>

<div id="menu-wrap" class="">
    <div class="row" style="max-height: 100%;">
        <div class="col-md-1 hamburger"><a href="javascript:void(0);" class="icon" onclick="openCloseMenu()"><i class="fa fa-bars color-dipy"></i></a></div>
        <div class="col-md-10" id="menu">
            <ul>
                <li data-menuanchor="Home"><a href="#Home">Home</a></li>
                <li data-menuanchor="Speakers"><a href="#Speakers">Speakers</a></li>
                <!-- <li data-menuanchor="Workshops"><a href="#Workshops">Workshops</a></li> -->
                <li data-menuanchor="Schedule"><a href="#Schedule">Schedule</a></li>
                <li data-menuanchor="Registration"><a href="#Registration">Registration</a></li>
                {% if workshop.is_in_person %}
                <li data-menuanchor="Lodging"><a href="#Lodging">Lodging</a></li>
                <li data-menuanchor="Venue"><a href="#Venue">Venue</a></li>
                {% endif %}
                <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
                <li data-menuanchor=""><a href="{% url 'workshop:workshop_list' %}">Login</a></li>
            </ul>
        </div>
        <div class="col-md-1"><img class="" src="{% static 'workshop/images/iu_trident_web_reverse.png' %}"></div>
    </div>
    </div>
<div id="fullpage">
    <div class="section" id="section_1">
        	<div class="simpleslide100">
                {% if workshop.bg_images.all %}
                {% for bg in workshop.bg_images.all %}
                <div class="simpleslide100-item bg-img1" style="background-image: url('{{bg.url}}');"></div>
                {% endfor %}
                {% else %}
                <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'workshop/images/dipy_odf_vs_2018-10-03.png' %});"></div>
                <div class="simpleslide100-item bg-img1" style="background-image: url({% static 'workshop/images/dipy_odf_vs_2018-10-03.png' %});"></div>
                {% endif %}
            </div>
            <div class="size1 overlay1">
                <!--  -->
                <div class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
                    <h3 class="l1-txt1 txt-center p-b-5">DIPY WORKSHOP {{workshop_year}}</h3>
                    <h5 class="m2-txt4 txt-right p-b-25">{{workshop.codename|title}} Edition</h5>
                    {% if workshop.start_date.year !=  workshop.end_date.year %}
                    <p class="m2-txt3">{{workshop.start_date|date:"dS F Y"}} - {{workshop.end_date|date:"dS F Y"}}</p>
                    {% elif workshop.start_date.month !=  workshop.end_date.month %}
                    <p class="m2-txt3">{{workshop.start_date|date:"dS F"}} - {{workshop.end_date|date:"dS F Y"}}</p>
                    {% else %}
                    <p class="m2-txt3">{{workshop.start_date|date:"dS "}} - {{workshop.end_date|date:"dS F Y"}}</p>
                    {% endif %}
                    <p class="m2-txt1 txt-center p-b-48">{{workshop.location}}</p>
                    <div class="col-lg-4 p-b-25">
                        <a href="#Registration" role="button" class="btn btn-lg btn-block btn-outline-secondary">Register NOW</a>
                    </div>
                    <div class="col-lg-4 p-b-25">
                        {% if not workshop.is_in_person %}
                        <p class="color-white fs-13 txt-center p-b-5">Already Registered ? <a class='color-dipy' href="{% url 'workshop:workshop_list' %}">login here</a></p>
                        {% endif %}
                        <p class="color-white fs-11 txt-center p-b-48">DIPY Workshop {{workshop.year}} is supported by {{workshop.supported_by}}</p>
                    </div>

                    <div><img class="col m-t-15 animated infinite bounce" width=75% height=75% src="{% static 'workshop/images/go-down.png' %}" style="width: 75%;"></div>
                </div>
            </div>
    </div>
    <div class="section" id="section_2">
        <div class="container p-t-60">
            <div class="row">
                {% for speaker in workshop.speakers.all %}
                <div class="col-lg-3 col-sm-6 p-b-50">
                    <img class="rounded-circle" src="{{speaker.avatar_url}}" alt="{{speaker.fullname}}" width="140" height="140">
                    <h3 class="m2-txt4">{{speaker.fullname|title}}</h3>
                    <p class="color-black">{{speaker.title}}</p>
                    <p class="color-black">{{speaker.affiliation}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- <div class="section" id="section_3">
        <div class="container">
            <h1 class="m-t-80 m-b-30"><b>TUTORIALS</b></h1>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Diffusion MRI 101</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Fundamental Neuroanatomy</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Macrostructure, 10 Models</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Microstructure, 10 Models</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Tractography on steroids </div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Deep learning for tumor segmentation</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Automated segmentation of tracts</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Process human and animal data</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">DIPY interfaces and API</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Horizon, stunning visualizations</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">First principles of diffusion statistics</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Advanced preprocessing/denoising</div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">How to combine multiple modalities </div></div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Advanced connectivity analysis</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Data harmonization</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Applications of quality transfer</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Advanced tractometry with examples</div></div>
		<div class="col-12 col-md-4 col-lg-4 col-xl-4 m-t-5 m-b-5"><div class="custom-box">Clinical uses in neurosurgery</div></div>

            </div><br\>
            <h3 class="m-t-30">The workshop will include a <b>data accelerator</b> where you will be able to analyze your own data together with the <a href="http://dipy.org"><strong class='color-dipy'>DIPY</strong></a> developers. More than 15 DIPY developers will be available this year on site to help. All tutorials will run on 3 levels: novice, intermediate and advanced. The workshop will include social events and activities. The workshop is open to <b>academic</b>, <b>clinical</b> and <b>industrial</b> attendees from all fields of neuroscience and neuroengineering. </h3>
        </div>
    </div> -->
    <div class="section" id="section_calendar">
        <div class="container p-t-60">
            <div class="row with-padding-10">
                {% if calendar %}
                {% for event in calendar %}
                    <div class="col-lg-4 p-b-20">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="">Day {{ forloop.counter }} - {{ event.0|date:"l, F d"}}</h4>
                                <hr style="border:2px solid" class="color-dipy">
                                <ul class="p-l-0 txt-left" style="list-style: none;">
                                    {% for topic in event.1 %}
                                    <li class="p-b-10">
                                        <p class="color-black"><u>{{topic.1}}</u> - <strong>{{topic.0}}</strong></p>
                                        <p>
                                            {% for speaker in topic.2 %}
                                            <img class="rounded-circle schedule-img" src="{{speaker.1}}" alt="{{speaker.0}}" width="10" height="10"><small class="text-muted">{{speaker.0}} </small>
                                            {% endfor %}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {%else %}
                <div class="col-lg-4 offset-4 p-b-20">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="">To be Defined</h4>
                            <hr style="border:2px solid" class="color-dipy">
                            <p>We are currently finalising the calendar.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div>
                <h3 class="m-t-30">The workshop will include a <b>data accelerator</b> where you will be able to analyze your own data together with the <a href="http://dipy.org"><strong class='color-dipy'>DIPY</strong></a> developers. A Scientific Q/A sessions will be available everyday. More information provied after registration. The workshop is open to <b>academic</b>, <b>clinical</b> and <b>industrial</b> attendees from all fields of neuroscience and neuroengineering. </h3>
            </div>
        </div>
    </div>
    <div class="section" id="section_5">
        <div class=" pricing-table">
            <div class="container">
                <div class="block-heading">
                    {% if workshop.is_past_due_registration%}
                    <h2 class="color-dipy intro p-b-25">Registration for DIPY WORKSHOP {{workshop.year}} <b>is closed.</b></h2>
                    {% else %}
                    <h2 class="color-dipy intro p-b-25">Registration for DIPY WORKSHOP {{workshop.year}} is now open!</h2>
                    {% endif %}
                    {% if workshop.show_registration_deadline %}
					<p class="p-b-25 m2-txt2">Registration deadline: {{workshop.registration_end_date|date:"dS F Y"}}</p>
                    {% endif %}
				</div>
                {% if all_pricing %}
				<div class="row justify-content-md-center">
                    {% for pricing in all_pricing %}
                    <div class="col-md-5 col-lg-3">
						<div class="item">
                            <!-- <div class="ribbon">Best Value</div> -->
							<div class="heading">
								<h3 class="p-t-15 p-b-15">{{pricing.name}}</h3>
							</div>
                            {% if pricing.have_tagline %}
                                {% if pricing.get_stripe_price == 0 %}
                                <p class="p-b-10">DIPY Workshop is free</p>
                                {% else %}
                                <p class="p-b-10">Sponsor DIPY event</p>
                                {% endif %}
                            {% endif %}
                            {% if pricing.features%}
							<div class="features">
                                {% for feature in pricing.features %}
                                    <h4><span class="feature">{{ feature.title }}</span> : <span class="value"> {{ feature.value }}</span></h4>
                                {% endfor %}
							</div>
                            {% endif %}
							<div class="price">
								<h4>${{pricing.get_stripe_price}}</h4>
                            </div>
                            {% if not workshop.is_past_due_registration%}
                                {% if workshop.use_stripe %}
                                    {% if pricing.get_stripe_price == 0 %}
                                    <a class="btn btn-block btn-primary" href="{% url 'users:register' workshop_slug=workshop.slug pricing_slug=pricing.slug %}">Register</a>
                                    {% else %}
                                    <button class="btn btn-block btn-outline-primary checkout-button" type="button" role="link" id="checkout-button" value="{{pricing.get_stripe_price}}">Register & Sponsor Event</button>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-block btn-primary" href=" https://indianauniv.ungerboeck.com/prod/emc00/register.aspx?OrgCode=10&EvtID=11238&AppCode=REG&CC=123012550750">Register</a>
                                {% endif %}
                            {% endif %}
						</div>
					</div>
                    {% endfor %}
				</div>
                {% if show_pricing_info %}
                <div><p class="text-center color-white"><b>* Workshop Exclusive Support, Please <a class="color-dipy" href="mailto:admins@dipy.org?subject=Informations about sponsoring DIPY event"> contact us</a> for more information</b></p></div>
                {% endif %}
                {% endif %}
                <div id="error-message"></div>
            </div>
        </div>
    </div>

{% if workshop.is_in_person %}

    <div class="section" id="section_6">
        <div class="apply-section">
            <div class="container">
                {% include "./partials/accomodation_"|addstr:workshop.template_suffix|addstr:".html" %}
            </div>
        </div>
    </div>
    <div class="section venue" id="section_7">
        <div class="container-fluid" id="map_wrapper">
            <div class="map_canvas">
                <div class="gmap_canvas">
                    <iframe id="gmap_canvas" height="100%" width="100%" src="{{workshop.location_map}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <!-- <iframe id="gmap_canvas" height="100%" width="100%" src="https://maps.google.com/maps?q=Luddy%20Hall&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
                    <!-- <iframe id="gmap_canvas" height="100%" width="100%" src="https://maps.google.com/maps?q=Le+Merigot+Santa+Monica&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
                </div>
            </div>
        </div>

        {% include "./partials/venue_info_"|addstr:workshop.template_suffix|addstr:".html" %}

    </div>

{% endif %}

    <div class="section" id="section_8">
        <div class="container">
            <div class="row">
                <div class="text-center mx-auto p-t-100">
                    <h2>Get In Touch!</h2>
                    <hr class="bgorange">
                    <i class="fa fa-4x fa-envelope-o"></i>
                    <p class="m2-txt2-dark p-t-20">Contact us for more information by sending an email at <strong>dipy -at- python.org</strong></p>
                    <p class="m2-txt2-dark p-t-20">or joining our interactive chatroom at <a href="https://gitter.im/dipy/dipy"><strong>https://gitter.im/dipy/dipy</strong></a></p>

                </div>
            </div>
            <br/><br/><br/>
            <div class="row">
                <div class="text-center mx-auto">
                    <h2>Sponsors</h2>
                    <hr class="bgorange">
                    <div class="row">
                        <div class="col-6 col-md-3 p-t-40"><img style="width: 98%;" src="{% static 'workshop/images/NIH_NIBIB_Master_Logo_2Color.jpg' %}"></div>
                        <div class="col-6 col-md-3"><img style="width: 75%;" src="{% static 'workshop/images/sice.png' %}"></div>
                        <div class="col-6 col-md-3 p-t-50"><img style="width: 60%;" src="{% static 'workshop/images/ise.png' %}"></div>
                        <div class="col-6 col-md-3 p-t-50"><img style="width: 70%;" src="{% static 'workshop/images/dipy-logo.png' %}"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 {% csrf_token %}
</div>

   <!--[if IE]>
        <script type="text/javascript">
             var console = { log: function() {} };
        </script>
    <![endif]-->

    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'workshop/vendor/scrolloverflow.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'workshop/vendor/bootstrap/js/popper.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'workshop/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
	<script src="{% static 'workshop/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'workshop/vendor/fullpage/js/jquery.fullpage.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                //easingcss3: linear,
                autoScrolling: true,
                scrollOverflow: true,
                fitToSection: true,
                navigation: false,
                navigationPosition: 'right',
                continuousVertical: false,
                anchors: ["Home", "Speakers", "Schedule", "Registration",  // "Workshops",
                          {% if workshop.is_in_person %} "Lodging", "Venue", {% endif %}
                          "Contact"],

                menu: '#menu-wrap',

				onLeave: function(index, newIndex, direction){
					if (index == 1 && direction == 'down'){
						$('#menu-wrap').fadeIn(600);
					}
					else if(newIndex == 1 && direction == 'up'){
						$('#menu-wrap').hide();
                    }
                    else if(index == 2 && direction == 'down'){
                        //alert("test");
                        $('div.custom-box').addClass('animated bounce delay-4s slower');
                    }
                    else if(index == 3){
                        $('div.custom-box').removeClass('animated bounce delay-4s slower');
                    }
                    else if(index == 4 && direction == 'up'){
                        //alert("test");
                        $('div.custom-box').addClass('animated bounce delay-4s slower');
                    }

				},
            });
            $('#menu-wrap').hide();
        });
        function openCloseMenu() {
                var x = document.getElementById("menu");
                if (x.className.includes("responsive")) {
                    x.className = "col-md-10"
                } else {
                    x.className = "responsive";
                }
            }
    </script>
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        document.querySelectorAll('.checkout-button').forEach(item => {
            var price_id = item.value; //"price_1IMJdjBb8w8pGcaIpK77vGAM"; //
            item.addEventListener("click", function () {
                console.log(price_id)
                var url_mask = "{% url 'payment:create-checkout-session' workshop_id=workshop.id pricing_id=1234 %}".replace(/1234/g, price_id.toString());
                console.log(url_mask)
            fetch(url_mask, {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                    }
            })
                .then(function (response) {
                return response.json();
                })
                .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.id });
                })
                .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
                })
                .catch(function (error) {
                console.error("Error:", error);
                });
            });
        });
      </script>

    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'workshop/js/main.js' %}"></script>
    <!--===============================================================================================-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148819013-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148819013-2');
    </script>
</body>
</html>

