//// Default Styles

// default image align to center
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
// default text styles
p, li { 
    font-family: 'sans serif', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
// default body styles
body {
    background-color: #f0f0f0;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: 'sans serif', sans-serif;
}

// default table styles
td {
    padding: 0.2em;
}

//// Specific Styles

// website header and navbar styles
#websiteHeaderLogo {
    height: 2.2em;
    padding-left: 15px;
}

#websiteNavbar {
	min-height: 80px;
	background: none;
    border: none;
    font-family: 'sans serif', sans-serif;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    li {
        font-size: 1.0em;
        padding: 0.9em 0.1em;
        transition: .15s;
        a {
            font-weight: 400;
            padding: 15px 10px;
        }
        &:hover {
          background: rgb(248, 248, 248) none repeat scroll 0% 0%;
          box-shadow: 0px 4px 0px #ff7f00;
          color: #000;
      }
  }

  .inner-wrapper {
    background: #fff;
    border-radius: 0em 0em 0.2em 0.2em;
    border-bottom: 2px solid rgba(255, 128, 5, 0.26);
}
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 12px 14px;
    margin-top: 17px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

// news post styles

.news-date {
    float: left;
    margin-right: 4px;
}

// youtube-embed styles
.youtube-embed {
    display: block;
    width: 100%;
    max-width: 640px;
}
.youtube-wrapper {
    display: block;
    max-width: 640px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 1em #222;
}

// superContentContainer style
#superContentContainer {
    margin-top: 83px;
}

// container-card styles
.content-card {
    background-color: #fff;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1em;
    padding-bottom: 2em;
}

// page-heading styles
.page-heading {
    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// carousel styles
.carousel-caption {
    background: rgba(14, 156, 76, 0.81);
    z-index: 4;
    top: 30%;
    left: 0;
    bottom: inherit;
    right: inherit;
    overflow: hidden;
    width: auto;
    max-width: 30em;
    font-size: 1em;
    padding: 1em;
    transition: all 0.2s;
    text-align: left;
    &:hover {
        background: rgba(13, 137, 67, 0.92);
    }
    h2 {
        margin: 0;
    }
    p {
        font-size: 18px;
    }
}
.carousel-indicators {
    bottom: 40px;
    li {
        background: rgba(229, 229, 229, 0.16);
        border: solid 1px #a1a1a1;
    }
    z-index: 4;
}

.carousel-control {
    padding-top: 2em;
    font-size: 4em;
}
// cite page - publications

.publicationBibtex {
    display: none;
    background: #e9e9e9;
    padding: 1em;
}

// codehilite styles
div.codehilite, .highlight {
    background: #fff;
    border: none;
    margin-bottom: 0.6em;
    pre {
        background: #fafbff;
        border: 1px solid rgba(46, 168, 209, 0.16);
        border-radius: 0px;
        border-left: 4px solid rgba(46, 168, 209, 0.16);
        margin: 10px;
        font-family: sans-serif;
        margin: 0;
    }
}

// default honeycomb styles
.honeycombs .inner_span {
    background-color: rgba(254, 221, 179, 0.89);
}

// home-page section styles
.home-header {
    background: #fff;
    color: #182422;
    box-shadow: 0px -34px 19px -22px RGBA(101, 101, 101, 0.41), inset 0px -0px 0px 0px #CCC;

 p {
    font-size: 1.1em;
    font-weight: 400;
    font-family: sans serif;
    color: #444;
}
}

.big-link-col {
    padding-top: 1em;
    padding-bottom: 1em;
}

#bigLinksWrapper {
    background: #fff;
    overflow: hidden;
    padding-bottom: 3%;
}

.big-link {
    border-radius: 100%;
    border: 1px solid #CCC;
    max-width: 16em;
    padding: 1.5em;
    margin: 0 auto;
    transition: all .4s ease-in-out;

    img {
        padding: 10px;
        max-width: 80px;
        padding-bottom: 1.4em;
        padding-top: 2em;
        transition: all .2s ease-in-out;
    }

    span {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-family: 'sans serif', sans-serif;
        font-size: 1.5em;
        color: #1a1a1a;
        padding: 0.6em;
        transition: all .2s;
    }

    &:hover{
        transform: scale(1.04);
        border: 1px solid #222;
        box-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1);
        img {
            transform: scale(1.1);
        }
        span {
            transform: scale(1.01);
        }
    }
}

.split-column-wrapper {
    background: #fff;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
    padding-left: -15px;
    padding-right: -15px;
}

// cite page styles
.publicationInfo {
    border-bottom: 1px solid #c9c9c9;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

// footer styles
#footerContentContainer {
    background: #1a1a1a;
    color: #e5e5e5;
    padding: 1em;
}

// twitter styles
#twitter-feed {
    padding-top: 2em;
}

// google plus feed styles
.gplus_attachments_wrapper {
    padding: 1em;
    background: #f6f6f6;
    box-shadow: 0px 0px 6px #dadada;
}

.gplus_content_body {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.94);
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 2em;
    margin-top: 4em;
    overflow: auto;
}

.gplus_inner_wrapper {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 2em;
}

.gplus_close_link {
    float: right;
    display: block;
    font-size: 1.4em;
}

// login button styles
.login-button {
    background-repeat: no-repeat;
    display: block;
    width: 32em;
    height: 5.4em;
    margin: 0 auto;
    color: rgba(255,255,255,0);
    max-width: 100%;
}
.login-button.google-oauth2 {
    background-position: 0px -80px;
}


// dashboard panel styles 
.dashboard-button {
    padding: 1em;
    font-size: 1.4em;
    margin: 1em;
    float: none;
    display: block;
    width: auto;
    background: #f3f3f3;
    color: #363636;
    transition: all 0.5s;
    &.logout {
        background: rgb(218, 118, 118) none repeat scroll 0% 0%;
        border: #1a1a1a;
        color: #fff;
        &:hover {
            background: rgb(225, 118, 118) none repeat scroll 0% 0%;
            color: #fff;
            box-shadow: 0px 0px 7px RGBA(0, 0, 0, 0.27);
        }
    }
    &:hover {
        background: #6C6B6B;
        color: #EDEDED;
        box-shadow: 0px 0px 7px RGBA(0, 0, 0, 0.27);
    }
}

.post-separator {
    height: 4px;
    background: #7B7B7B;
    box-shadow: 0px 0px 5px #939393;
    border: 0px;
}


// support page styles
#gitterFrame {
    width: 100%;
    height: 50em;
    border: none;
    border-left: 3px solid #7aa6b4;
}

.btn-subscribe {
    display: block;
    background: #7aa6b4;
    color: #fff;
    width: 15em;
    padding: 1em;
    margin-top: 1em;
    text-decoration: none;
}


// documentation styles
.documentation-toc-tree {
    border-left: 3px solid rgba(255, 222, 190, 0.44);
    padding-left: 1em;
    margin-top: 1.8em;
    color: #454545;
    ul {
        padding-left: 1em;
    }
}

code {
    padding: 0px 4px;
}

.documentation-parent-links {
    border-bottom: 1px solid rgb(236, 234, 234);
    padding-bottom: 0.2em;
    padding-top: 0.4em;
}

.caption-text {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

// tutorial page styles
.tutorials-container {
    h2, h3 {
        cursor: pointer;
    }

    a.headerlink {
        opacity: 0.1;
    }

    h3 {
        font-size: 1.2em;
        margin-top: 1em;
        &:hover {
            color: black;
        }
    }
    h2 {
        font-size: 1.6em;
    }
}

.tutorial-wrapper {
    background: #f8f8f8;
    margin: 1em 0em;
    border-left: 2px solid rgb(222, 222, 222);
    margin-left: 1em;

    .tutorial_error {
        background: #ffe1e1;
        padding: 1em;
        margin: 0;
    }
}

.minor_section{
    display: none;
    margin-left: 0.8em;

}

.tutorials_section{
    display: none;
}

// social media share button styles
.fb_iframe_widget {
    vertical-align: top;
}

//// Style for different screen sizes

// navbar collapse breakpoint change
@media (max-width: 1200px) {
    #websiteNavbar {
        min-height: 60px;
        position: relative;
        margin-bottom: 0px;
    }

    #superContentContainer {
        margin-top: 0;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
     position: static;
     float: none;
     width: auto;
     margin-top: 0;
     background-color: transparent;
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

}

@media (max-width: 768px) {
    #websiteNavbar {
        min-height: 60px;
        position: relative;
        margin-bottom: 0px;
        .container-fluid {
            .container {
                background: #fff;
                border-bottom: 2px solid rgba(255,128,5,0.26);
                li {
                    padding: 0px;
                }
                .navbar-toggle {
                    margin-top: 7px;
                }
            }
        }
        .inner-wrapper {
            background: #fff;
            border-radius: 0em 0em 0.2em 0.2em;
            border-bottom: none;
        }
    }

    #websiteHeaderLogo {
        height: 1.4em;
    }

    #superContentContainer{
        margin-top: 0px;
    }
}
