body {
  background-color:#f0f0f0;
  padding-top: 80px; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

p, li {
  font-family: 'sans serif', sans-serif;
  font-size: 14px;
  font-weight: 400; }

a {
  text-decoration: none;
}
  a:hover {
    text-decoration: none;
   }

.h1, .h2, .h3, h1, h2, h3 {
  font-family: 'sans serif', sans-serif; }

td {
  padding: 0.2em; }

/*****************************
*  main container
******************************/
#home_wrapper a{
    text-decoration: underline;
    color: #ff7f00;
  }
#home_wrapper a:hover {
      text-decoration: none;
      color: #ff7f00;
      font-weight: bold;
}

.center-div {
 margin-left: auto;
 margin-right: auto;
}

/*****************************
*  Nav bar section
******************************/
.navbar-fixed-top {
  min-height: 80px; }

#websiteHeaderLogo {
  height: 2.2em;
  padding-left: 15px;
 }

/* .dropdown-menu {
  background-color: #202020; } */
.navbar-right {
    margin-right : 0px;
}

#websiteNavbar {
  border-color: transparent;
  background: none;
  min-height: 80px;
  font-family: 'sans serif', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; }
  #basic-navbar {
    background-color: white;
    border-bottom: 2px solid rgba(255, 128, 5, 0.26);
    border-radius: 0em 0em 0.2em 0.2em;
  }

  #websiteNavbar li {
    color: #ff7f00;
    font-size: 1.0em;
    padding: 0.9em 0.1em;
    transition: .15s; }
    #websiteNavbar li a {
      color: black;
      font-weight: 400;
      padding: 15px 10px; }
      #websiteNavbar li a:hover {
        color: #ff7f00; }
    #websiteNavbar li:hover {
      background: #f8f8f8 none repeat scroll 0% 0%;
      box-shadow: 0px 4px 0px #ff7f00; }

/*****************************
*  Footer
******************************/
.bg-gray { background-color: lightgray; }
.bg-white { background-color: white; }

section {
  display: grid;
  background-color: white;
  padding: 30px 0;
  padding-top: 15px; }

section .section-title {
  text-align: center;
  color: #202020;
  margin-bottom: 50px;
  text-transform: uppercase; }

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #ff8c00;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ff8c00; }

#footer a {
  color: #ff8c00;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#footer ul.social li {
  padding: 3px 0; }

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.social li a,
#footer ul.quick-links li a {
  color: black;}

#footer ul.social li a:hover,
#footer ul.quick-links li a:hover {
  color: #ff8c00; }

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

#footer ul.quick-links li a i {
  margin-right: 5px; }

#footer ul.quick-links li:hover a i {
  font-weight: 700; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px; } }
/*****************************
*  Animation
******************************/
.grow {
  transition: all .2s ease-in-out; }

.grow:hover {
  transform: scale(1.1); }

#banner-start {
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
  }
#banner-start-command {
  background: #ff8c00;
  color: white;
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  /* display: inline-block; */
  padding: 15px 20px;
}
#banner-start-command:before {
  content: "$";
  opacity: 0.5;
  padding-right: 10px;
}

/*****************************
*  color
******************************/
.orange {
  color: #ff8c00; }

.orange-border {
  border-left-width: 5px;
  border-left-color: #ff8c00;
  border-left-style: solid;
  color: #95a5a6;
  padding-left: 20px; }

/*****************************
*  Footer
******************************/
section#info-section {
  padding-top: 10px; }
  section#info-section p {
    font-size: 1.5em; }

section#download-section {
  background-color: lightgray;
  text-align: center;
  }
  section#download-section ul {
    overflow: hidden;
    margin: auto;
    display: inline-block; }
  section#download-section li {
    margin: 25px;
    display: inline-block;
    float: left;
  }
  /* section#download-section span {
    display: block;
    margin: 5px; } */
  section#download-section i {
    font-size: 4em;
    margin: 5px; }
  section#download-section a {
    color: black; }
  section#download-section div > p > span > b {
    color: #ff8c00;
    font-size: 1.5em; }
  section#download-section li.blue:hover i, section#download-section li.blue:hover a span {
    color: lightskyblue; }
  section#download-section li.white:hover i, section#download-section li.white:hover a span {
    color: white; }
  section#download-section li.orange:hover i, section#download-section li.orange:hover a span {
    color: darkorange; }

    section#cite-section{
      padding-left: 30px;
      padding-right: 30px;
    }

section#sponsors img{
  max-width:100%;
  max-height:100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.auto-resize-square {
  height: 200px;
  width: 200px;
  }

.news-date {
  float: left;
  margin-right: 4px; }

.youtube-embed {
  display: block;
  width: 100%;
  max-width: 640px; }

.youtube-wrapper {
  display: block;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 1em #222; }

.youtube-card {
  padding-bottom: 25px;
  padding-top: 25px;
}

.youtube-heading {
  font-size: xx-large;
  font-weight: bold;
}

.content-card {
  background-color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1em;
  padding-bottom: 2em; }

.page-heading .h1, .page-heading .h2, .page-heading .h3, .page-heading h1, .page-heading h2, .page-heading h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

/*****************************
*  Carousel
******************************/
.carousel {
  height: 10vh;
  min-height: 310px; }

.carousel-caption {
  background: rgba(14, 156, 76, 0.81);
  z-index: 4;
  top: 30%;
  left: 0;
  bottom: inherit;
  right: inherit;
  overflow: hidden;
  width: auto;
  max-width: 30em;
  font-size: 1em;
  padding: 1em;
  transition: all 0.2s;
  text-align: left; }
  .carousel-caption:hover {
    background: rgba(13, 137, 67, 0.92); }
  .carousel-caption h2 {
    margin: 0; }
  .carousel-caption p {
    font-size: 18px; }

.carousel-indicators {
  bottom: 40px;
  z-index: 4; }
  .carousel-indicators li {
    background: rgba(229, 229, 229, 0.16);
    border: solid 1px #a1a1a1; }

.carousel-control {
  padding-top: 2em;
  font-size: 4em; }

.carousel-fullscreen .carousel-inner .item {
  height: 100vh;
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/* carousel fullscreen - vertically centered caption*/
.carousel-fullscreen .carousel-caption {
  top: 50%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.carousel-fade .carousel-control {
  z-index: 2; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  transition: all 0.2s ease-out; }

.publicationBibtex {
  display: none;
  background: #e9e9e9;
  padding: 1em; }

div.codehilite, .highlight {
  background: #fff;
  border: none;
  margin-bottom: 0.6em; }
  div.codehilite pre, .highlight pre {
    background: #fafbff;
    border: 1px solid rgba(46, 168, 209, 0.16);
    border-radius: 0px;
    border-left: 4px solid rgba(46, 168, 209, 0.16);
    margin: 10px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.4em;
    margin: 0; }

.honeycombs .inner_span {
  background-color: rgba(254, 221, 179, 0.89); }

.home-header {
  background: #fff;
  color: #182422;
  box-shadow: 0px -34px 19px -22px RGBA(101, 101, 101, 0.41), inset 0px 0px 0px 0px #CCC; }
  .home-header p {
    font-size: 1.1em;
    font-weight: 400;
    font-family: sans serif;
    color: #444; }

.big-link-col {
  padding-top: 1em;
  padding-bottom: 1em; }

#bigLinksWrapper {
  overflow: hidden;
  padding-bottom: 3%; }

.big-link {
  border-radius: 100%;
  border: 1px solid #888;
  max-width: 16em;
  padding: 1.5em;
  margin: 0 auto;
  transition: all .4s ease-in-out; }
  .big-link img {
    padding: 10px;
    max-width: 80px;
    padding-bottom: 1.4em;
    padding-top: 2em;
    transition: all .2s ease-in-out; }
  .big-link span {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'sans serif', sans-serif;
    font-size: 1.5em;
    color: #1a1a1a;
    padding: 0.6em;
    transition: all .2s; }
  .big-link:hover {
    transform: scale(1.04);
    border: 1px solid #222;
    box-shadow: 0px 0px 10px RGBA(0, 0, 0, 0.1); }
    .big-link:hover img {
      transform: scale(1.1); }
    .big-link:hover span {
      transform: scale(1.01); }

.split-column-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  padding-left: -15px;
  padding-right: -15px; }

.publicationInfo {
  border-bottom: 1px solid #c9c9c9;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em; }

#twitter-feed {
  padding-top: 2em; }

.login-button {
  background-repeat: no-repeat;
  display: block;
  width: 32em;
  height: 5.4em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0);
  max-width: 100%; }

.login-button.google-oauth2 {
  background-position: 0px -80px; }

/*****************************
*  Dashboard  section
******************************/
.dashboard-button {
  width: 95%;
  padding: 1em;
  font-size: 1.4em;
  margin: 1em;
  background: #f3f3f3;
  color: #363636;
  transition: all 0.5s;
  border-color: #ccc
}

.dashboard-button.logout {
  background: #da7676 none repeat scroll 0% 0%;
  border: #1a1a1a;
  color: #fff;
}

.dashboard-button.logout:hover {
    background: #e17676 none repeat scroll 0% 0%;
    color: #fff;
    box-shadow: 0px 0px 7px RGBA(0, 0, 0, 0.27);
}

.dashboard-button:hover {
  background: #ff8c00;
  color: #EDEDED;
  box-shadow: 0px 0px 7px RGBA(0, 0, 0, 0.27);
}

.dashboard-button-isdisabled{
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.panel{
  margin-bottom: 0px
}

#dashboard_header_inner{
  background-color: #aaaaaa;
  min-height: 100px;
  text-align: center;
  padding: 15px;
}
#dashboard_header_inner > h2 {
  margin: 0px;
}

.post-separator {
  height: 4px;
  background: #7B7B7B;
  box-shadow: 0px 0px 5px #939393;
  border: 0px; }

#gitterFrame {
  width: 100%;
  height: 50em;
  border: none;
  border-left: 3px solid #7aa6b4; }

.btn-subscribe {
  display: block;
  background: #7aa6b4;
  color: #fff;
  width: 15em;
  padding: 1em;
  margin-top: 1em;
  text-decoration: none; }

.documentation-toc-tree {
  border-left: 3px solid rgba(255, 222, 190, 0.44);
  padding-left: 1em;
  margin-top: 1.8em;
  color: #454545; }
  .documentation-toc-tree ul {
    padding-left: 1em; }

code {
  padding: 0px 0px; }

.documentation-parent-links {
  border-bottom: 1px solid #eceaea;
  padding-bottom: 0.2em;
  padding-top: 0.4em; }

.caption-text {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.section p {
  margin: 1.2em 0;
  line-height: 1.6em; }
.section img {
  padding: 1.6em 0; }

.tutorials-container h2, .tutorials-container h3 {
  cursor: pointer; }
.tutorials-container a.headerlink {
  opacity: 0.1; }
.tutorials-container h3 {
  font-size: 1.2em;
  margin-top: 1em; }
  .tutorials-container h3:hover {
    color: black; }
.tutorials-container h2 {
  font-size: 1.6em; }

.tutorial-wrapper {
  background: #f8f8f8;
  margin: 1em 0em;
  border-left: 2px solid #dedede;
  margin-left: 1em; }
  .tutorial-wrapper .tutorial_error {
    background: #ffe1e1;
    padding: 1em;
    margin: 0; }

.minor_section {
  display: none;
  margin-left: 0.8em; }

.tutorials_section {
  display: none; }

.fb_iframe_widget {
  vertical-align: top; }

/*********
Features
**********/
.row.equal {
  display: flex;
  flex-wrap: wrap;
}
.features-box {
  background-color: lightgray;
  border: solid 2px #ff8c00;
  border-radius: 2em;
  margin: 1em;
  padding: 1em 0;
  height: 90%;
}

.features-title {
  text-align: center;
  color: #ff8c00;
  font-weight: bold;
  font-size: 2em;

}

.features-content {
  text-align: center;
}

/*********
Other
**********/
#examples > div.section:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5em;
  margin-top: -5em
}

dl.citation > * > span.brackets, span.fn-backref {
  color: #337ab7;
}
dl.citation > * > span.brackets::before{
  content: "[ ";
}

dl.citation > * > span.brackets::after{
  content: " ]  ";
}

dl.citation {
  display: inline-block;
}

dl.citation dt {
  float:left;
  font-weight:bold;
  margin-right:10px;
  width: 20%;
  padding: 1% 1%;
  margin-top: 0;
}

dl.citation dd {
  float: left;
  margin-bottom: 20px;
  width: 70%;
  padding: 0 1%;
}

dl.citation dd p {
  margin: 0px;
};

div.admonition-example-source-code.admonition {
  padding: 0 2%;
  border: 2px solid rgba(46, 168, 209, 0.16);
  border-left: 4px solid rgba(46, 168, 209, 0.16);
}

p.admonition-title {
  text-decoration: underline;
}

.expand-all{
  color: black;
}
.expand-all:hover{
  color: #ff8c00;
}

@media (max-width: 1200px) {
  #websiteNavbar {
    min-height: 60px;
    position: relative;
    margin-bottom: 0px; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }
@media (max-width: 767px) {

  #websiteNavbar {
    min-height: 60px;
    position: relative;
    margin-bottom: 0px;
    border-radius: 0em 0em 0.2em 0.2em;
    border-bottom: none; }
    #websiteNavbar .container-fluid .container {
      background: #fff;
      border-bottom: 2px solid rgba(255, 128, 5, 0.26); }
      #websiteNavbar .container-fluid .container li {
        padding: 0px; }
      #websiteNavbar .container-fluid .container .navbar-toggle {
        margin-top: 7px; }

  #websiteHeaderLogo {
    height: 1.4em; }

  .dashboard-button {
    margin: unset;
    margin-top: 0.5em;
    margin-bottom: 0.5em; } }
