{% load staticfiles %}

<!doctype html>
<html>
<head>
	<script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
</head>
<body>
	<div id="vizcontainer">
		<svg style="width:100%;height:500px;border:1px lightgray solid;" />
	</div>
</body>

<script type="text/javascript">
	var contributors = {{ contributors|safe }};

	var yScale = d3.scaleLinear().domain([0,contributors[0].contributions]).range([4,40]);

	function contributors_viz(contributorData) {
		d3.select("svg")
		.append("g")
		.attr("id", "contributorsG")
		.attr("transform", "translate(50,300)")
		.selectAll("g")
		.data(contributorData)
		.enter()
		.append("g")
		.attr("class", "contributorG")
		.attr("transform", function (d,i) {return "translate(" + (i * 40) + ", " + -yScale(d.contributions) * 6 + ")"});

		var contributorG = d3.selectAll("g.contributorG");
		
		contributorG.append("circle")
		.attr("r", function(d,i){ return yScale(d.contributions);})
		.style("fill", "pink")
		.style("stroke", "black")
		.style("stroke-width", "1px");

		contributorG.append("text")
		.style("text-anchor", "middle")
		.attr("y", 30)
		.style("font-size", "10px")
		.text(function(d) {return d.login;});

		contributorG.insert("image", "text")
		.attr("xlink:href", function(d) {
		return d.avatar_url;
		})
		.attr("width", "45px").attr("height", "20px").attr("x", "-22")
		.attr("y", "-10");
	}

	contributors_viz(contributors);

</script>

</html>
