{% load staticfiles %}

<div id="github_visualization_main_container">

	<div id="github_visualization_repo_name">
		<h1>{{ basic_stats.repo_name }}</h1>
	</div>

	<div id="github_visualization_repo_description">
		<h3>{{ basic_stats.repo_description }}</h3>
	</div>

	<div class="github_visualization_visualization_container">

		<div class="github_visualization_basic_stats_container">

			<div class="github_visualization_basic_stats" id="github_visualization_repo_stars">
				<span class="stat-value">{{ basic_stats.stars }}</span> Stars
				<img class="basic_stat_icon" src="{% static "images/stars.png" %}">
			</div>
			
			<div class="github_visualization_basic_stats" id="github_visualization_repo_forks">
				<span class="stat-value">{{ basic_stats.forks }}</span> Forks
				<img class="basic_stat_icon" src="{% static "images/forks.png" %}">
			</div>

			<div class="github_visualization_basic_stats" id="github_visualization_repo_contributors_count">
				<span class="stat-value">{{ contributors.total_contributors }}</span> Contributors
				<img class="basic_stat_icon" src="{% static "images/contributors.png" %}">
			</div>

			<div class="github_visualization_basic_stats" id="github_visualization_repo_commits_count">
				<span class="stat-value">{{ contributors.total_commits }}</span> Commits
				<img class="basic_stat_icon" src="{% static "images/commits.png" %}">
			</div>

		</div>
		
		<div id="github_visualization_contributors_wrapper">

			{% for contributor in contributors.contributors %}
			<a href="{{ contributor.html_url }}" target="_blank">
			<div class="github_visualization_contributor_info">
				<img class="github_visualization_contributor_img" src="{{ contributor.avatar_url }}">
				<span class="github_visualization_contributor_name">{{ contributor.user_name }}</span>
				<span class="github_visualization_contributor_commits">Commits: {{ contributor.total_commits }}</span>
				<span class="github_visualization_contributor_additions"> ++{{ contributor.total_additions }}</span>
				<span class="github_visualization_contributor_deletions"> --{{contributor.total_deletions }}</span>
			</div>
			</a>
			{% endfor %}

		</div>

		<canvas id="overallContributionGraph"></canvas>

		<canvas id="contributorsWithTimeGraph"></canvas>


	</div>

</div>

<!-- Script to generate charts -->
<script type="text/javascript">

	// Overall Contributions graph

	var overallContributionData = {
	    labels: [{% for change in weekly_stats.changes %}{{change.0}} * 1000,{% endfor %}],
	    datasets: [
	        {
	            label: "Additions",
	            fill: true,
	            lineTension: 0.1,
	            backgroundColor: "rgba(74, 191, 103, 0.2)",
	            borderColor: "rgba(74, 191, 103, 0.6)",
	            borderWidth: 2,
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgba(74, 191, 103, 1)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgba(74, 191, 103, 1)",
	            pointHoverBorderColor: "rgba(74, 191, 103, 1)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [{% for change in weekly_stats.changes %}{{change.1}},{% endfor %}],
	            spanGaps: false,
	        },
	        {
	            label: "Deletions",
	            fill: true,
	            lineTension: 0.1,
	            backgroundColor: "rgba(218, 47, 47, 0.2)",
	            borderColor: "rgba(242, 109, 64, 0.6)",
	            borderWidth: 2,
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgba(242, 109, 64, 1)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgba(242, 109, 64, 1)",
	            pointHoverBorderColor: "rgba(242, 109, 64, 1)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [{% for change in weekly_stats.changes %}-1*{{change.2}},{% endfor %}],
	            spanGaps: false,
	        },
	        {
	            label: "Lines of code",
	            fill: true,
	            lineTension: 0.1,
	            backgroundColor: "rgba(47, 133, 218, 0.2)",
	            borderColor: "rgb(47, 133, 218, 0.6)",
	            borderWidth: 2,
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgb(47, 133, 218)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgb(47, 133, 218)",
	            pointHoverBorderColor: "rgb(47, 133, 218)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [{% for change in weekly_stats.changes %}{{change.3}},{% endfor %}],
	            spanGaps: false,
	        }
	    ]
	};

	var ctx = document.getElementById("overallContributionGraph");
	var timeFormat = 'MM/DD/YYYY HH:mm';
	var myLineChart = Chart.Line(ctx, {
	    data: overallContributionData,
	    options: {
	        scales: {
					xAxes: [{
						type: "time",
						time: {
							format: timeFormat,
							// round: 'day'
							tooltipFormat: 'll HH:mm'
						},
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}, ],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Lines of code'
						}
					}, ]
			}


	    }
	});


	// Total Contributors with time graph

	var contributorsWithTimeData = {
	    labels: [{% for data in contributors.cumulative_contributors %}{{data.0}} * 1000,{% endfor %}],
	    datasets: [
	        {
	            label: "Contributors",
	            fill: true,
	            lineTension: 0.1,
	            backgroundColor: "rgba(74, 191, 103, 0.2)",
	            borderColor: "rgba(74, 191, 103, 0.6)",
	            borderWidth: 2,
	            borderCapStyle: 'butt',
	            borderDash: [],
	            borderDashOffset: 0.0,
	            borderJoinStyle: 'miter',
	            pointBorderColor: "rgba(74, 191, 103, 1)",
	            pointBackgroundColor: "#fff",
	            pointBorderWidth: 1,
	            pointHoverRadius: 5,
	            pointHoverBackgroundColor: "rgba(74, 191, 103, 1)",
	            pointHoverBorderColor: "rgba(74, 191, 103, 1)",
	            pointHoverBorderWidth: 2,
	            pointRadius: 1,
	            pointHitRadius: 10,
	            data: [{% for data in contributors.cumulative_contributors %}{{data.1}},{% endfor %}],
	            spanGaps: false,
	        }
	    ]
	};

	var ctx = document.getElementById("contributorsWithTimeGraph");
	var timeFormat = 'MM/DD/YYYY HH:mm';
	var myLineChart = Chart.Line(ctx, {
	    data: contributorsWithTimeData,
	    options: {
	        scales: {
					xAxes: [{
						type: "time",
						time: {
							format: timeFormat,
							// round: 'day'
							tooltipFormat: 'll HH:mm'
						},
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}, ],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Contributors'
						}
					}, ]
			}


	    }
	});



</script>

<!-- script for image loading -->
<script type="text/javascript">
	var allImg = document.getElementsByClassName("github_visualization_contributor_img");
	for (var i = allImg.length - 1; i >= 0; i--) {
		allImg[i].classList.add("img-loading");
		allImg[i].onload = function(){
			this.classList.remove("img-loading");
		}
	};
</script>
