{% load static %}
<div class=".col-8 .col-sm-6">
    <h1 class="color-dipy intro p-b-25 p-t-25">Accommodations</h1>
    <p class="p-b-25 m2-txt2">We recommend you to book your hotel at <a class="color-dipy" href="https://www.imu.indiana.edu/hotel/index.shtml">Indiana Memorial Union</a><br/> If this is booked you can also try <a class="color-dipy" href="https://www.graduatehotels.com/bloomington/">Graduate Hotel Bloomington </a></p>
</div>
<div class="row p-t-20">
    <div class="col-12 col-sm-6 p-b-100">
        <img class="rounded-circle" src="{% static 'workshop/images/IMU.jpg' %}"
                alt="IMU" width="280" height="280">
        <h2 class="m2-txt4"><a class="color-dipy" href="https://www.imu.indiana.edu/hotel/index.shtml">Indiana Memorial Union </a></h2>
        <p class="color-white">900 E 7th St, Bloomington, IN 47405</p>
        <br/>
        <div class="txt-left p-l-55">
            <p>- Rate Range of $94.00 to $124.00 + sales tax per room, per night.</p>
            <p>- <b>Block will be released 2/10/19</b></p>
            <p>- To make reservation: </p>
            <ol type="1" class="p-l-65">
                <li>1. Go to <a class="color-dipy" href="https://www.imu.indiana.edu/hotel/index.shtml">www.imu.indiana.edu</a></li>
                <li>2. Select Dates</li>
                <li>3. Select # of rooms</li>
                <li>4. Select More Options</li>
                <li>5. Enter Group Code: <b class="color-dipy">DIPY19</b> (enter group code again if new dates are selected)</li>
            </ol>
            <p><b class="color-dipy">OR</b> call 800-209-8145 or 812-855-2536</p>
        </div>

    </div>
    <div class="col-12 col-sm-6 p-b-100">
        <img class="rounded-circle" src="{% static 'workshop/images/graduate.jpg' %}"
                alt="graduate" width="280" height="280">
        <h2 class="m2-txt4"><a class="color-dipy" href="https://www.graduatehotels.com/bloomington/">Graduate Hotel Bloomington </a></h2>
        <p class="color-white">210 E Kirkwood Ave, Bloomington, IN 47408</p>
        <br/>
        <div class="txt-left p-l-55">
            <p>- Rate of $94.00 + sales tax per room, per night</p>
            <p>- To make reservation: </p>
            <ol type="1" class="p-l-65">
                <li>1. Go to <a class="color-dipy" href="https://gc.synxis.com/rez.aspx?Hotel=3251&Chain=21643&arrive=3/11/2019&depart=3/15/2019&adult=1&child=0&group=190311DIPY">www.graduatehotels.com/bloomington/</a></li>
                <li>2. Check/Enter Group Code: <b class="color-dipy">190311DIPY</b> (enter group code again if new dates are selected)</li>
                <li>3. Check/Select Dates</li>
                <li>4. Select # of rooms</li>
                <li>5. Select More Options</li>
            </ol>
        </div>
    </div>
</div>
