{% extends "website/base_template.html" %}
{% load static %}

{% block extra_css %}
<style type="text/css">
.loginbox {
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
</style>
{% endblock %}


{% block content_body %}
<div class="content-card">
    <div class="row">
      <div class = "col-md-6 col-md-offset-3 m-t-80 m-b-80">
        <div class="col-lg-12 omb_login p-b-10 loginbox">
          <h2 class="text-center p-b-30"> Registration SUCCESS!</h2>
            <p class="text-center p-b-20">Congratulations! Your account has been succesfully created and we already logged you to our platform</p>
            <p class="text-center">Please check your email for further instructions.</p>
            <div>
              <div class="col-xs-12"><a href="{% url 'workshop:eventspace' workshop_slug=workshop_slug %}"><p class="dashboard-button btn btn-default">Workshop space</p></a></div>
              <div class="col-xs-12"><a href="{% url 'website:index' %}"><p class="dashboard-button btn btn-default">Home Page</p></a></div>
              <div class="col-xs-12"><a href="{% url 'users:profile' %}"><p class="dashboard-button btn btn-default">Profile Settings</p></a></div>
            </div>
            <p class="text-center">Having Trouble? <a href='mailto:skoudoro@iu.edu'>Contact us.</a></p>
        </div>
      </div>
    </div>
</div>
{% endblock %}