{% load staticfiles %}
{% extends "website/base_template.html" %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "css/styles404.css" %}">
{% endblock %}
                                                                          
{% block extra_js_top %}
<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content_body %}
    <div class="mainbox">
      <div class="err">4</div>
      <i class="far fa-question-circle fa-spin"></i>
      <div class="err2">4</div>
      <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="index.html">home</a> and try from there.</p></div>
    </div>
{% endblock %}
