@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.8s ease;
  cursor: pointer;
  padding: 20px;
  border-radius: 12px;
}

.highlight-container {
  width: 100%;
  max-height: 800px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 80%;
}

.highlight-wrapper {
  height: 80vh;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: "DM Sans", sans-serif;
  transition: background 0.8s ease-in;
  overflow-x: hidden;
}

.highlight-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}

#item-1:checked ~ .cards #highlight-6,
#item-2:checked ~ .cards #highlight-1,
#item-3:checked ~ .cards #highlight-2,
#item-4:checked ~ .cards #highlight-3,
#item-5:checked ~ .cards #highlight-4,
#item-6:checked ~ .cards #highlight-5 {
transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #highlight-2,
#item-2:checked ~ .cards #highlight-3,
#item-3:checked ~ .cards #highlight-4,
#item-4:checked ~ .cards #highlight-5,
#item-5:checked ~ .cards #highlight-6,
#item-6:checked ~ .cards #highlight-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #highlight-1,
#item-2:checked ~ .cards #highlight-2,
#item-3:checked ~ .cards #highlight-3,
#item-4:checked ~ .cards #highlight-4,
#item-5:checked ~ .cards #highlight-5, 
#item-6:checked ~ .cards #highlight-6 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

#item-1:checked ~ .cards #highlight-3,
#item-1:checked ~ .cards #highlight-4,
#item-1:checked ~ .cards #highlight-5,
#item-2:checked ~ .cards #highlight-4,
#item-2:checked ~ .cards #highlight-5,
#item-2:checked ~ .cards #highlight-6,
#item-3:checked ~ .cards #highlight-1,
#item-3:checked ~ .cards #highlight-5,
#item-3:checked ~ .cards #highlight-6,
#item-4:checked ~ .cards #highlight-1,
#item-4:checked ~ .cards #highlight-2,
#item-4:checked ~ .cards #highlight-6,
#item-5:checked ~ .cards #highlight-1,
#item-5:checked ~ .cards #highlight-2,
#item-5:checked ~ .cards #highlight-3,
#item-6:checked ~ .cards #highlight-2,
#item-6:checked ~ .cards #highlight-3,
#item-6:checked ~ .cards #highlight-4 {
  opacity: 0;
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 1100px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 50px;
  overflow: hidden;
}

.hightlight-info {
  width: 100%;
  display: block;
}

.highlight-info .title {
  color: #403d40;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform 0.8s ease-in;
}

#item-1:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test {
  transform: translateY(-60px);
}

#item-3:checked ~ .player #test {
  transform: translateY(-120px);
}

#item-4:checked ~ .player #test {
  transform: translateY(-178px);
}

#item-5:checked ~ .player #test {
  transform: translateY(-235px);
}

#item-6:checked ~ .player #test {
  transform: translateY(-293px);
}

.m-highlights-holder {
  width: 100vw;
  position: relative;

  padding: 0 0 40px;
}

.m-highlights-holder .title {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;

  font-family: "DM Sans", sans-serif;
}

.m-highlights-img-holder {
  width: 100vw;
  overflow-x: auto;
}

.m-highlights-img {
  width: 800px;
  max-width: 800px;
  object-fit: fill;
}

.float-btn {
  position: absolute;
  top: calc(50% - 20px);
  transition: all 0.3s ease;
}

.right-arrow {
  right: 60px;
}

.left-arrow {
  left: 60px;
  top: calc(50% + 20px);
  transform: rotate(180deg);
}


.round {
  position: absolute;
  background-color: #fc7f0c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}

#cta{
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}