.timeline_area {
  position: relative;
  z-index: 1;
}
.single-timeline-area {
  position: relative;
  z-index: 1;
  padding-left: 40px;
}
@media only screen and (max-width: 575px) {
  .single-timeline-area {
      padding-left: 20px;
  }
}
.single-timeline-area .timeline-date {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 60px;
}
@media only screen and (max-width: 575px) {
  .single-timeline-area .timeline-date {
      /* width: 100px; */
      padding-right: 20px;
  }
}
.single-timeline-area .timeline-date::after {
  position: absolute;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #ebebeb;
  top: 0;
  right: 30px;
  z-index: 1;
}
.single-timeline-area .timeline-date::before {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #ff7f00;
  content: "";
  top: 50%;
  right: 26px;
  z-index: 5;
  margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
  margin-bottom: 0;
  color: #020710;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.single-timeline-area .single-timeline-content {
  position: relative;
  z-index: 1;
  /* padding: 16px 16px 16px; */
  border-radius: 12px;
  margin-bottom: 7px;
  margin-top: 7px;
  padding: 10px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  border: 2px solid #ebebeb;
  transition-duration: 500ms;
}
@media only screen and (max-width: 575px) {
  .single-timeline-area .timeline-date::after {
    right: 10px;
  }
  .single-timeline-area .timeline-date::before {
    right: 6px;
  }
}

.single-timeline-area .single-timeline-content .timeline-text h6 {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  /* margin-bottom: 10px; */
  font-weight: 600;
  font-size: 16px;
}
.single-timeline-area .single-timeline-content .timeline-text p {
  font-size: 13px;
  font-weight: 400;
  /* margin-bottom: 10px; */
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
  background-color: #020710;
}

.single-timeline-area .single-timeline-content:hover {
  border: 2px solid #ff7f00;
}

.timeline-speaker-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  width: fit-content;
  border-radius: 20px;
  background-color: #ff7f00;
  padding-right: 10px;
  opacity: 0.8;
}

.avatar {
  border: 5px solid white;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background-size: contain;
  position: relative;
}

.avatar-name {
  padding: 0 5px;
  color: white;
  text-overflow: ellipsis;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, black, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: #fcfcfa;
}
